<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">

<head th:replace="shop/fragments/header::head"></head>

<body class="">

<!-- Navbar -->
<div th:replace="shop/fragments/navbar-2::navbar(isError = true)"></div>
<!-- / Navbar-->

<!-- Main Section-->
<section class="mt-5 container-fluid ps-5 pe-5">
    <!-- Page Content Goes Here -->

    <h1 class="mb-6 display-5 fw-bold text-center">Giỏ hàng</h1>

    <div class="row g-4 g-md-8">
        <!-- Cart Items -->
        <div class="col-12 col-xl-8">
            <div class="table-responsive">
                <table class="table">
                    <thead>
                    <tr>
                        <th class="d-none d-sm-table-cell"></th>
                        <th class="ps-sm-3" style="width: 350px">Chi tiết</th>
                        <th>Số lượng</th>
                        <th></th>
                    </tr>
                    </thead>
                    <tbody id="cart-items-body">
                        <!--jquery show here-->
                    </tbody>
                </table>
            </div>
        </div>
        <!-- /Cart Items -->
        <div class="col-12 col-xl-4">
            <div class="bg-dark p-4 p-md-5 text-white">
                <h3 class="fs-3 fw-bold m-0 text-center border-bottom-white-opacity pb-2">Thông tin đơn hàng</h3>
                <div class="py-3 border-bottom-white-opacity">
                    <div class="d-flex justify-content-between align-items-center mb-2 flex-column flex-sm-row">
                        <p class="m-0 fw-bolder fs-6">Tổng tiền:</p>
                        <p class="m-0 fs-6 fw-bolder" id="showSubtotal">[[${carts.subtotal}]]</p>
                    </div>
                </div>
                <div class="py-3 border-bottom-white-opacity">
                    <div class="d-flex justify-content-between align-items-center flex-column flex-sm-row mt-3 m-sm-0">
                        <span class="text-white opacity-75 small">Phí vận chuyển sẽ được tính ở trang thanh toán.</span>
                    </div>
                </div>

                <!-- Checkout Button-->
                <!--                <a href="./checkout.html" class="btn btn-white w-100 text-center mt-3"-->
                <!--                   role="button"><i class="ri-secure-payment-line align-bottom"></i> Proceed to checkout</a>-->
                <!--                <a href="./checkout.html" class="btn btn-orange w-100 text-center mt-3"-->
                <!--                   role="button"><i class="ri-paypal-line align-bottom"></i> Checkout with PayPal</a>-->
                <a th:href="@{/shop/checkout}" class="btn btn-orange w-100 text-center mt-3" th:if="${!disableBtn}"
                   th:classappend="${carts.items.size <= 0} ? 'disabled' : ''"
                   th:attr="style=${carts.items.size <= 0} ? 'pointer-events: none;' : ''" id="btn-payment">
                    <i class="ri-secure-payment-line align-bottom"></i> Thanh toán
                </a>
                <span class="btn btn-orange w-100 text-center mt-3 disabled" th:if="${disableBtn}">
                    <i class="ri-secure-payment-line align-bottom"></i> Thanh toán
                </span>
                <!-- Checkout Button-->
            </div>

            <!-- Payment Icons-->
            <ul class="list-unstyled d-flex justify-content-center mt-3">
                <li class="mx-1 border d-flex align-items-center p-2"><img class="pi pi-paypal" alt="."
                                                                           src="https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcTp1v7T287-ikP1m7dEUbs2n1SbbLEqkMd1ZA&s">
                </li>
                <!--                <li class="mx-1 border d-flex align-items-center p-2"><i class="pi pi-mastercard"></i></li>-->
                <!--                <li class="mx-1 border d-flex align-items-center p-2"><i class="pi pi-american-express"></i></li>-->
                <!--                <li class="mx-1 border d-flex align-items-center p-2"><i class="pi pi-visa"></i></li>-->
            </ul>
            <!-- / Payment Icons-->
        </div>
    </div>

    <!-- /Page Content -->
</section>
<!-- / Main Section-->

<!-- Footer-->
<footer th:replace="shop/fragments/footer::footer"></footer>
<!-- / Footer-->

<!-- Cart Offcanvas-->
<div th:replace="shop/fragments/drawer-cart::div"></div>
<!--script-->
<script th:replace="shop/fragments/script::div"></script>
<script type="module" th:src="@{/shop/script/cart.js}"></script>
</body>
</html>