<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">

<!--<head th:replace="shop/fragments/header::head"></head>-->
<head>
    <th:block th:insert="shop/fragments/header::head"></th:block>
    <link rel="stylesheet" th:href="@{/shop/dist/css/select2.min.css}"/>
    <link rel="stylesheet" th:href="@{/shop/dist/css/select2-bootstrap-5-theme.min.css}"/>
</head>
<body class="">

<!-- Navbar -->
<div th:replace="shop/fragments/navbar-2::navbar(isError = ${isLogin}, isHidden = true)"></div>
<!-- / Navbar-->

<!-- Main Section-->
<section class="mt-5 container ">
    <!-- Page Content Goes Here -->

    <h1 class="mb-4 display-5 fw-bold text-center">Thông tin liên hệ</h1>
    <div class="row g-md-8 mt-4">
        <!-- Panel Left -->
        <div class="col-12 col-lg-8 col-xl-8">
            <iframe src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d3723.86769794004!2d105.74729339999999!3d21.037979099999998!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x3134550062c10f09%3A0xa42821736f81fe80!2sF4K%20Shop!5e0!3m2!1svi!2s!4v1734185967058!5m2!1svi!2s" width="800" height="450" style="border:0;" allowfullscreen="" loading="lazy" referrerpolicy="no-referrer-when-downgrade"></iframe>
        </div>
        <!-- / Panel Left -->

        <!-- Checkout Right -->
        <div class="col-12 col-lg-4 col-xl-4">
            <div class="bg-light p-4 sticky-md-top top-5" id="cart-container">
                <div class="py-3 border-bottom">
                    <strong>Địa chỉ cửa hàng:</strong> 22 P. Trịnh Văn Bô, Xuân Phương, Nam Từ Liêm, Hà Nội
                </div>
            </div>
        </div>
        <!-- /Panel Right -->
    </div>

    <!-- /Page Content -->
</section>
<!-- / Main Section-->

<!-- Footer-->
<footer th:replace="shop/fragments/footer::footer"></footer>

<!--script-->
<script th:replace="shop/fragments/script::div"></script>
</body>
</html>