<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">

<head th:replace="shop/fragments/header::head"></head>

<body class="">

<!-- Navbar -->
<div th:replace="shop/fragments/navbar-2::navbar(isError = false)"></div>
<!-- / Navbar-->

<!-- Main Section-->
<section class="mt-0 ">

    <!-- Category Top Banner -->
    <div class="py-6 bg-img-cover bg-dark bg-overlay-gradient-dark position-relative overflow-hidden mb-4 bg-pos-center-center"
         style="background-image: url(https://firebasestorage.googleapis.com/v0/b/clothes-f4k.appspot.com/o/banner%2Fbanner-1.jpg?alt=media&token=9d6b9bab-633d-4935-baa9-9347e0c11be8);">
        <div class="container position-relative z-index-20" data-aos="fade-right" data-aos-delay="300">
            <nav aria-label="breadcrumb">
                <ol class="breadcrumb">
                    <li class="breadcrumb-item breadcrumb-light"><a th:href="@{/shop/home}">Trang chủ</a></li>
                    <li class="breadcrumb-item active breadcrumb-light" aria-current="page">Cửa hàng</li>
                </ol>
            </nav>
            <h1 class="fw-bold display-6 mb-4 text-white">Chào Mừng Đến Với Cửa Hàng Của Chúng Tôi!</h1>
            <div class="col-12 col-md-6">
                <p class="lead text-white mb-0">
                    Di chuyển, duỗi người, nhảy và đi bộ đường dài trong những sản phẩm mới nhất chống thấm nước của chúng tôi. Chúng tôi bảo vệ bạn trong các buổi đi bộ đường dài hoặc leo núi, từ áo khoác Gortex đến quần chống thấm nước nhẹ. Khám phá dòng sản phẩm quần áo ngoài trời mới nhất của chúng tôi.
                </p>
            </div>
        </div>
    </div>
    <!-- Category Top Banner -->

    <div class="container">

        <div class="row">

            <!-- Category Aside/Sidebar -->
            <div class="d-none d-lg-flex col-lg-3">
                <div class="pe-4 w-100">
                    <!-- Category Aside -->
                    <aside>
                        <!-- Brands Filter -->
                        <div class="py-4 widget-filter border-top"
                             style="margin-bottom: 1.5rem!important; border-top: none!important;">
                            <a class="small text-body text-decoration-none text-secondary-hover transition-all transition-all fs-6 fw-bolder d-block collapse-icon-chevron"
                               data-bs-toggle="collapse" href="#filter-brands" role="button" aria-expanded="true"
                               aria-controls="filter-brands">
                                Nhãn hàng
                            </a>
                            <div id="filter-brands" class="collapse show">
                                <div class="input-group my-3 py-1">
                                    <input type="text" class="form-control py-2 filter-search rounded"
                                           placeholder="Search" aria-label="Search">
                                    <span class="input-group-text bg-transparent px-2 position-absolute top-7 end-0 border-0 z-index-20"><i
                                            class="ri-search-2-line text-muted"></i></span>
                                </div>
                                <div class="simplebar-wrapper">
                                    <div class="filter-options" data-pixr-simplebar>
                                        <div class="form-group form-check mb-0 from-filter-brand" th:each="item : ${listBrand}">
                                            <input type="checkbox" class="form-check-input cb-brand" value="1000000"
                                                   th:data-id="${item.key.id}">
                                            <div class="d-flex justify-content-between">
                                                <label class="form-check-label fw-normal text-body flex-grow-1 d-flex justify-content-between brand-name">
                                                    [[${item.key.name}]]
                                                </label>
                                                <span class="text-muted">([[${item.value}]])</span>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <!-- / Brands Filter -->

                        <!-- Price Filter -->
                        <div class="py-4 widget-filter widget-filter-price border-top">
                            <a class="small text-body text-decoration-none text-secondary-hover transition-all transition-all fs-6 fw-bolder d-block collapse-icon-chevron"
                               data-bs-toggle="collapse" href="#filter-price" role="button" aria-expanded="true"
                               aria-controls="filter-price">
                                Giá tiền
                            </a>
                            <div id="filter-price" class="collapse show">
                                <div class="d-flex justify-content-between align-items-center mt-3">
                                    <div class="input-group mb-0 me-2 border">
                                        <input type="text"
                                               class="filter-min form-control-sm flex-grow-1 text-muted border-0 filter-min-price"
                                               style="width: 50%">
                                        <div class="input-group-append">
                                            <span class="input-group-text"
                                                  style="font-size: 12px; height: 32px; border: none!important;; background-color: transparent!important;">VNĐ</span>
                                        </div>
                                    </div>
                                    <div class="input-group mb-0 ms-2 border">
                                        <input type="text"
                                               class="filter-max form-control-sm flex-grow-1 text-muted border-0 filter-max-price"
                                               style="width: 50%">
                                        <div class="input-group-append">
                                            <span class="input-group-text"
                                                  style="font-size: 12px; height: 32px; border: none!important;; background-color: transparent!important;">VNĐ</span>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <!-- / Price Filter -->

                        <!-- Type Filter -->
                        <div class="py-4 widget-filter border-top">
                            <a class="small text-body text-decoration-none text-secondary-hover transition-all transition-all fs-6 fw-bolder d-block collapse-icon-chevron"
                               data-bs-toggle="collapse" href="#filter-category" role="button" aria-expanded="true"
                               aria-controls="filter-category">
                                Danh mục
                            </a>
                            <div id="filter-category" class="collapse show">
                                <div class="input-group my-3 py-1">
                                    <input type="text" class="form-control py-2 filter-search rounded"
                                           placeholder="Search" aria-label="Search">
                                    <span
                                            class="input-group-text bg-transparent px-2 position-absolute top-7 end-0 border-0 z-index-20"><i
                                            class="ri-search-2-line text-muted"></i></span>
                                </div>
                                <div class="simplebar-wrapper">
                                    <div class="filter-options" data-pixr-simplebar>
                                        <div class="form-group form-check mb-0" th:each="item:${listCategory}">
                                            <input type="checkbox" class="form-check-input cb-category"
                                                   th:id="'filter-category-' + ${item.id}" th:data-id="${item.id}">
                                            <label
                                                    class="form-check-label fw-normal text-body flex-grow-1 d-flex justify-content-between"
                                                    th:for="'filter-category-' + ${item.id}">[[${item.name}]]</label>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <!-- / Type Filter -->

                        <!-- Sizes Filter -->
                        <div class="py-4 widget-filter border-top">
                            <a class="small text-body text-decoration-none text-secondary-hover transition-all transition-all fs-6 fw-bolder d-block collapse-icon-chevron"
                               data-bs-toggle="collapse" href="#filter-sizes" role="button" aria-expanded="true"
                               aria-controls="filter-sizes">
                                Kích cỡ
                            </a>
                            <div id="filter-sizes" class="collapse show">
                                <div class="filter-options mt-3">
                                    <div class="form-group d-inline-block mr-2 mb-2 form-check-bg form-check-custom"
                                         th:each="item:${listSize}">
                                        <input type="checkbox" class="form-check-bg-input cb-sizes"
                                               th:id="'filter-sizes-'+${item.id}" th:data-id="${item.id}">
                                        <label class="form-check-label fw-normal" th:for="'filter-sizes-'+${item.id}">[[${item.name}]]</label>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <!-- / Sizes Filter -->

                        <!-- Colour Filter -->
                        <div class="py-4 widget-filter border-top">
                            <a class="small text-body text-decoration-none text-secondary-hover transition-all transition-all fs-6 fw-bolder d-block collapse-icon-chevron"
                               data-bs-toggle="collapse" href="#filter-colour" role="button" aria-expanded="true"
                               aria-controls="filter-colour">
                                Màu chủ đạo
                            </a>
                            <div id="filter-colour" class="collapse show">
                                <div class="filter-options mt-3">
                                    <div class="form-group d-inline-block mr-2 mb-2 form-check-bg form-check-custom"
                                         th:each="item:${listColor}">
                                        <input type="checkbox" class="form-check-bg-input cb-color"
                                               th:id="'filter-colour-'+${item.id}" th:data-id="${item.id}">
                                        <label class="form-check-label fw-normal" th:for="'filter-colour-'+${item.id}">[[${item.name}]]</label>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <!-- / Colour Filter -->

                    </aside>
                    <!-- / Category Aside-->                    </div>
            </div>
            <!-- / Category Aside/Sidebar -->

            <!-- Category Products-->
            <div class="col-12 col-lg-9" style="position: relative">

                <!-- Top Toolbar-->
                <div class="mb-4 d-md-flex justify-content-between align-items-center">
                    <div class="d-flex justify-content-start align-items-center flex-grow-1 mb-4 mb-md-0">
                        <form action="" style="width: 100%" id="filter-search-product">
                            <div class="input-group my-3 py-1 w-4">
                                <input type="text" class="form-control py-2 filter-search rounded filter-search-input"
                                       placeholder="Search" aria-label="Search">
                                <span class="input-group-text bg-transparent px-2 position-absolute top-7 end-0 border-0 z-index-20"><i
                                        class="ri-search-2-line text-muted"></i></span>
                            </div>
                        </form>
                    </div>
                    <div class="d-flex justify-content-start align-items-center flex-grow-1 mb-4 mb-md-0">
                        <span class="fw-bolder text-muted-hover text-decoration-underline ms-2 cursor-pointer small btn-clear-all">Làm mới</span>
                    </div>
                    <div class="d-flex align-items-center flex-column flex-md-row">
                        <!-- Filter Trigger-->
                        <button class="btn bg-light p-3 d-flex d-lg-none align-items-center fs-xs fw-bold text-uppercase w-100 mb-2 mb-md-0 w-md-auto"
                                type="button" data-bs-toggle="offcanvas" data-bs-target="#offcanvasFilters"
                                aria-controls="offcanvasFilters">
                            <i class="ri-equalizer-line me-2"></i> Filters
                        </button>
                        <!-- / Filter Trigger-->
                        <div class="dropdown ms-md-2 lh-1 p-3 bg-light w-100 mb-2 mb-md-0 w-md-auto">
                            <p class="fs-xs fw-bold text-uppercase text-muted-hover p-0 m-0" role="button"
                               data-bs-toggle="dropdown" aria-expanded="false">Sắp xếp theo <i
                                    class="ri-arrow-drop-down-line ri-lg align-bottom"></i></p>
                            <ul class="dropdown-menu">
                                <li>
                                    <a class="dropdown-item fs-xs fw-bold text-uppercase text-muted-hover mb-2 filter-list-price"
                                       href="#" data-id="desc">Giá: cao đến thấp</a></li>
                                <li>
                                    <a class="dropdown-item fs-xs fw-bold text-uppercase text-muted-hover mb-2 filter-list-price"
                                       href="#" data-id="asc">Giá: thấp đến cao</a></li>
                            </ul>
                        </div>
                    </div>
                </div>                    <!-- / Top Toolbar-->

                <!-- Products-->
                <div class="row g-4 mb-5" id="product-show-list"></div>
                <!-- / Products-->

                <!-- Pagination-->
                <nav class="border-top mt-5 pt-5 d-flex justify-content-between align-items-center"
                     aria-label="Category Pagination" id="pagination-product"
                     style="position: absolute; width: 100%; bottom: -50px">
                </nav>
                <!-- / Pagination-->
            </div>
            <!-- / Category Products-->

        </div>
    </div>

</section>
<!-- / Main Section-->

<!-- Footer-->
<footer th:replace="shop/fragments/footer::footer"></footer>
<!-- / Footer-->

<!-- Offcanvas Imports-->
<!-- Cart Offcanvas-->
<div th:replace="shop/fragments/drawer-cart::div"></div>
<!-- Search Overlay-->
<section class="search-overlay">
    <div class="container search-container">
        <div class="py-5">
            <div class="d-flex justify-content-between align-items-center mb-4">
                <p class="lead lh-1 m-0 fw-bold">What are you looking for?</p>
                <button class="btn btn-light btn-close-search"><i class="ri-close-circle-line align-bottom"></i>
                    Close search
                </button>
            </div>
            <form>
                <input type="text" class="form-control" id="searchForm"
                       placeholder="Search by product or category name...">
            </form>
            <div class="my-5">
                <p class="lead fw-bolder">2 results found for <span class="fw-bold">"Waterproof Jacket"</span></p>
                <div class="row">
                    <div class="col-12 col-md-6 col-lg-3 mb-3 mb-lg-0">
                        <!-- Card Product-->
                        <div class="card position-relative h-100 card-listing hover-trigger">
                            <div class="card-header">
                                <picture class="position-relative overflow-hidden d-block bg-light">
                                    <img class="w-100 img-fluid position-relative z-index-10" title=""
                                         src="../dist/images/products/product-1.jpg"
                                         alt="Bootstrap 5 Template by Pixel Rocket">
                                </picture>
                                <div class="card-actions">
                                        <span
                                                class="small text-uppercase tracking-wide fw-bolder text-center d-block">Quick
                                            Add</span>
                                    <div class="d-flex justify-content-center align-items-center flex-wrap mt-3">
                                        <button class="btn btn-outline-dark btn-sm mx-2">S</button>
                                        <button class="btn btn-outline-dark btn-sm mx-2">M</button>
                                        <button class="btn btn-outline-dark btn-sm mx-2">L</button>
                                    </div>
                                </div>
                            </div>
                            <div class="card-body px-0 text-center">
                                <div class="d-flex justify-content-center align-items-center mx-auto mb-1">
                                    <!-- Review Stars Small-->
                                    <div class="rating position-relative d-table">
                                        <div class="position-absolute stars" style="width: 80%">
                                            <i class="ri-star-fill text-dark mr-1"></i>
                                            <i class="ri-star-fill text-dark mr-1"></i>
                                            <i class="ri-star-fill text-dark mr-1"></i>
                                            <i class="ri-star-fill text-dark mr-1"></i>
                                            <i class="ri-star-fill text-dark mr-1"></i>
                                        </div>
                                        <div class="stars">
                                            <i class="ri-star-fill mr-1 text-muted opacity-25"></i>
                                            <i class="ri-star-fill mr-1 text-muted opacity-25"></i>
                                            <i class="ri-star-fill mr-1 text-muted opacity-25"></i>
                                            <i class="ri-star-fill mr-1 text-muted opacity-25"></i>
                                            <i class="ri-star-fill mr-1 text-muted opacity-25"></i>
                                        </div>
                                    </div>
                                    <span class="small fw-bolder ms-2 text-muted"> 4.2 (123)</span>
                                </div>
                                <a class="mb-0 mx-2 mx-md-4 fs-p link-cover text-decoration-none d-block text-center"
                                   href="product-detail.html">Mens Pennie II Waterproof Jacket</a>
                                <p class="fw-bolder m-0 mt-2">$325.66</p>
                            </div>
                        </div>
                        <!--/ Card Product-->
                    </div>
                    <div class="col-12 col-md-6 col-lg-3">
                        <!-- Card Product-->
                        <div class="card position-relative h-100 card-listing hover-trigger">
                            <div class="card-header">
                                <picture class="position-relative overflow-hidden d-block bg-light">
                                    <img class="w-100 img-fluid position-relative z-index-10" title=""
                                         src="../dist/images/products/product-2.jpg"
                                         alt="Bootstrap 5 Template by Pixel Rocket">
                                </picture>
                                <div class="card-actions">
                                        <span
                                                class="small text-uppercase tracking-wide fw-bolder text-center d-block">Quick
                                            Add</span>
                                    <div class="d-flex justify-content-center align-items-center flex-wrap mt-3">
                                        <button class="btn btn-outline-dark btn-sm mx-2">S</button>
                                        <button class="btn btn-outline-dark btn-sm mx-2">M</button>
                                        <button class="btn btn-outline-dark btn-sm mx-2">L</button>
                                    </div>
                                </div>
                            </div>
                            <div class="card-body px-0 text-center">
                                <div class="d-flex justify-content-center align-items-center mx-auto mb-1">
                                    <!-- Review Stars Small-->
                                    <div class="rating position-relative d-table">
                                        <div class="position-absolute stars" style="width: 70%">
                                            <i class="ri-star-fill text-dark mr-1"></i>
                                            <i class="ri-star-fill text-dark mr-1"></i>
                                            <i class="ri-star-fill text-dark mr-1"></i>
                                            <i class="ri-star-fill text-dark mr-1"></i>
                                            <i class="ri-star-fill text-dark mr-1"></i>
                                        </div>
                                        <div class="stars">
                                            <i class="ri-star-fill mr-1 text-muted opacity-25"></i>
                                            <i class="ri-star-fill mr-1 text-muted opacity-25"></i>
                                            <i class="ri-star-fill mr-1 text-muted opacity-25"></i>
                                            <i class="ri-star-fill mr-1 text-muted opacity-25"></i>
                                            <i class="ri-star-fill mr-1 text-muted opacity-25"></i>
                                        </div>
                                    </div>
                                    <span class="small fw-bolder ms-2 text-muted"> 4.5 (1289)</span>
                                </div>
                                <a class="mb-0 mx-2 mx-md-4 fs-p link-cover text-decoration-none d-block text-center"
                                   href="product-detail.html">Mens Storm Waterproof Jacket</a>
                                <p class="fw-bolder m-0 mt-2">$499.99</p>
                            </div>
                        </div>
                        <!--/ Card Product-->
                    </div>
                </div>
            </div>

            <div class="bg-dark p-4 text-white">
                <p class="lead m-0">Didn't find what you are looking for? <a
                        class="transition-all opacity-50-hover text-white text-link-border border-white pb-1 border-2"
                        href="#">Send us a message.</a></p>
            </div>
        </div>
    </div>
</section>

<script th:replace="shop/fragments/script::div"></script>
<script type="module" th:src="@{/shop/script/product-list.js}"></script>
</body>
</html>