<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">

<head th:replace="shop/fragments/header::head"></head>
<body>
<div th:replace="shop/fragments/navbar-2::navbar(isError = false)"></div>

<!-- Main Section-->
<section class="mt-5 ">
    <!-- Page Content Goes Here -->
    <!-- Product Top-->
    <section class="container">
        <!-- Breadcrumbs-->
        <nav aria-label="breadcrumb">
            <ol class="breadcrumb">
                <li class="breadcrumb-item"><a th:href="@{/shop/home}">Home</a></li>
                <li class="breadcrumb-item"><a th:href="@{/shop/collections}">Cửa hàng</a></li>
                <li class="breadcrumb-item active" aria-current="page">Sản phẩm</li>
            </ol>
        </nav>
        <!-- /Breadcrumbs-->

        <div class="row g-5">
            <!-- Images Section-->
            <div class="col-12 col-lg-7">
                <div class="row g-1">
                    <div class="swiper-container gallery-thumbs-vertical col-2 pb-4">
                        <div class="swiper-wrapper" style="height: 780px">
                            <div class="swiper-slide bg-light bg-light h-auto" th:each="el,index : ${listImage}">
                                <picture>
                                    <img class="img-fluid mx-auto d-table img-product-detail" th:src="${el.fileUrl}"
                                         alt="Bootstrap 5 Template by Pixel Rocket">
                                </picture>
                            </div>
                        </div>
                    </div>
                    <div class="swiper-container gallery-top-vertical col-10">
                        <div class="swiper-wrapper">
                            <div class="swiper-slide bg-white h-auto" th:each="el,index : ${listImage}">
                                <picture>
                                    <img class="img-fluid d-table mx-auto img-product-detail-show"
                                         th:src="${el.fileUrl}"
                                         alt="..." data-zoomable>
                                </picture>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <!-- /Images Section-->

            <!-- Product Info Section-->
            <div class="col-12 col-lg-5">
                <div class="pb-3">
                    <!-- Product Name, Review, Brand, Price-->
                    <div class="d-flex justify-content-between align-items-center mb-2">
                        <p class="small fw-bolder text-uppercase tracking-wider text-muted mb-0 lh-1" id="product-brand"
                           th:data-id="${objDetail.product.brand.id}">
                            [[${objDetail.product.brand.name}]]
                        </p>
                    </div>
                    <h1 class="mb-2 fs-2 fw-bold">[[${objDetail.product.name}]]</h1>
                    <div th:if="${promotion != null}" class="d-flex justify-content-start align-items-center">
                        <p class="lead fw-bolder m-0 fs-3 lh-1 text-danger me-2 product-price-list"
                           th:data-price="${finalDiscount}">[[${finalDiscount}]]</p>
                        <s class="lh-1 me-2"><span class="fw-bolder m-0 product-price-list">[[${objDetail.price}]]</span></s>
                        <p class="lead fw-bolder m-0 fs-6 lh-1 text-success">-[[${promotion.discountValue}]]%</p>
                    </div>

                    <div th:if="${promotion == null}" class="d-flex justify-content-start align-items-center">
                        <p class="lead fw-bolder m-0 fs-3 lh-1 text-danger me-2 product-price-list"
                           th:data-price="${objDetail.price}">[[${objDetail.price}]]</p>
                    </div>

                    <!-- Product Views-->
                    <div class="mt-3 d-flex align-items-center" th:if="${objDetail.quantity <= 0 && objDetail.status == 1}">
                        <i class="mdi mdi-cart-off text-orange" style="font-size: 25px"></i>
                        <div class="text-danger" style="font-size: 25px"> Sản phẩm hiện đang hết hàng</div>
                    </div>
                    <div class="mt-3 d-flex align-items-center" th:if="${objDetail.status == 0}">
                        <i class="mdi mdi-cart-off text-orange" style="font-size: 25px"></i>
                        <div class="text-danger" style="font-size: 25px"> Sản phẩm hiện đang ngừng bán</div>
                    </div>
<!--                    <div class="d-flex justify-content-start mt-3">-->
<!--                        <div class="alert bg-light rounded py-1 px-2 d-table m-0">-->
<!--                            <div class="d-flex justify-content-start align-items-center">-->
<!--                                <i class="ri-fire-fill lh-1 text-orange"></i>-->
<!--                                <div class="ms-2">-->
<!--                                    <small class="opacity-75 fw-bolder lh-1">167 người đã mua</small>-->
<!--                                </div>-->
<!--                            </div>-->
<!--                        </div>-->
<!--                    </div>-->
                    <!-- /Product Views-->

                    <form class="mb-3" method="post" th:action="@{/shop/product/add-cart/{id}(id=${objDetail.id})}" id="formAddCart">
                        <!-- Product Options-->
                        <div class="border-top mt-4 mb-3">
                            <div class="product-option mb-4 mt-4">
                                <small class="text-uppercase d-block fw-bolder mb-2">
                                    Màu : <span class="fw-bold">[[${objDetail.color.name}]]</span>
                                </small>
                                <div class="d-flex justify-content-start">
                                    <div th:each="item,index : ${listColor}"
                                         class="form-group d-inline-block mr-1 mb-1 form-check-solid-bg-checkmark form-check-custom bg-dynamic"
                                         th:style="'--bg-color: ' + ${item.hex}">
                                        <input type="radio" class="form-check-color-input btn-color-picker"
                                               th:id="'option-colour-' + ${item.id}"
                                               name="color"
                                               th:data-id="${item.hex}"
                                               th:value="${item.id}"
                                               th:checked="${item.id == objDetail.color.id}"
                                        >
                                        <label class="form-check-label" th:for="'option-colour-' + ${item.id}"></label>
                                    </div>
                                </div>
                            </div>

                            <div class="product-option mb-4 mt-4">
                                <small class="text-uppercase d-block fw-bolder mb-2">
                                    Kích cỡ : <span class="fw-bold">[[${objDetail.size.name}]]</span>
                                </small>
                                <div class="d-flex justify-content-start">
                                    <div class="filter-options">
                                        <div class="form-group d-inline-block mr-2 mb-2 form-check-bg form-check-custom"
                                             th:each="item,index:${listSize}">
                                            <input type="radio"
                                                   name="size"
                                                   class="form-check-bg-input cb-sizes btn-size-picker"
                                                   th:checked="${objDetail.size.id == item.id}"
                                                   th:id="'filter-sizes-'+${item.id}"
                                                   th:data-id="${item.name}"
                                                   th:value="${item.id}"
                                                   th:disabled="${item.status == 0}"
                                            >
                                            <label class="form-check-label fw-normal"
                                                   th:for="'filter-sizes-'+${item.id}" th:classappend="${item.status == 0 ? 'out-of-stock' : ''}">[[${item.name}]]</label>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <!-- /Product Options-->

                        <!-- Add To Cart-->
                        <div class="mb-3" th:if="${objDetail.status != 0}">
                            <label th:if="${objDetail.quantity > 0}" class="form-label">Số lượng</label>
                            <input th:if="${objDetail.quantity > 0}" type="number" value="1" class="form-control" min="1" step="1" id="inputQuantity"
                                   name="quantity">
                            có [[${objDetail.quantity}]] sản phẩm có sẵn
                        </div>
                        <div class="d-flex justify-content-between mt-3 modal-footer has-spinner">
                            <a th:if="${objDetail.quantity <= 0}" type="button" class="btn btn-dark btn-dark-chunky flex-grow-1 me-2 text-white disabled">
                                Thêm vào giỏ hàng
                            </a>
                            <button th:if="${objDetail.quantity > 0 && objDetail.status != 0}" type="submit" class="btn btn-dark btn-dark-chunky flex-grow-1 me-2 text-white">
                                Thêm vào giỏ hàng
                            </button>
                        </div>
                    </form>
                    <hr>
                    <div class="card">
                        <div class="card-title">Mô tả sản phẩm</div>
                        <div class="card-body overflow-auto" style="height: 200px" >
                            <p>[[${objDetail.product.description}]]</p>
                        </div>
                    </div>
                </div>
            </div>
            <!-- / Product Info Section-->
        </div>
    </section>
    <!-- Related Products-->
    <div class="container my-8" th:if="${listData.size}">
        <h3 class="fs-4 fw-bold mb-5 text-center">Sản phẩm liên quan</h3>
        <!-- Swiper Latest -->
        <div class="swiper-container overflow-visible" data-swiper data-options='{
                    "spaceBetween": 25,
                    "cssMode": true,
                    "roundLengths": true,
                    "scrollbar": {
                      "el": ".swiper-scrollbar",
                      "hide": false,
                      "draggable": true
                    },
                    "navigation": {
                      "nextEl": ".swiper-next",
                      "prevEl": ".swiper-prev"
                    },
                    "breakpoints": {
                      "576": {
                        "slidesPerView": 1
                      },
                      "768": {
                        "slidesPerView": 2
                      },
                      "992": {
                        "slidesPerView": 3
                      },
                      "1200": {
                        "slidesPerView": 4
                      }
                    }
                  }'>
            <div class="swiper-wrapper pb-5 pe-1">
                <div class="swiper-slide d-flex h-auto" th:each="item:${listData}">
                    <!-- Card Product-->
                    <div class="card position-relative h-100 card-listing hover-trigger">
                        <span th:if="${item.promotion != null}" class="badge card-badge bg-secondary">-[[${item.promotion.discountValue}]]%</span>
                        <div class="card-header card-product-detail-picture">
                            <picture th:if="${item.product.image}" class="position-relative overflow-hidden d-block bg-light">
                                <img class="w-100 img-fluid position-relative z-index-10"
                                     title=""
                                     th:src="${item.product.image.fileUrl}" alt="123">
                            </picture>
                            <picture th:if="${item.product.image == null}"
                                     class="position-relative overflow-hidden d-block bg-light">
                                <img class="w-100 img-fluid position-relative z-index-10" title=""
                                     src="https://firebasestorage.googleapis.com/v0/b/clothes-f4k.appspot.com/o/common%2Fdata_not_found.png?alt=media&token=36148ded-ba2c-4207-8525-2da16e7a8557">
                            </picture>
                        </div>
                        <div class="card-body px-0 text-center">
                            <a class="mb-0 mx-2 mx-md-4 fs-p link-cover text-decoration-none d-block text-center"
                               th:href="'/shop/product/' + ${item.product.slug}">[[${item.product.name}]]</a>
                            <p th:if="${item.promotion == null}" class="fw-bolder m-0 mt-2 product-price-list">[[${item.price}]]</p>
                            <div th:if="${item.promotion != null}" class="d-flex justify-content-center align-items-center mt-2">
                                <p class="mb-0 me-2 text-danger fw-bolder product-price-list">[[${item.discountValue}]]</p>
                                <p class="mb-0 text-muted fw-bolder"><s class="product-price-list">[[${item.price}]]</s></p>
                            </div>
                        </div>
                    </div>
                    <!--/ Card Product-->
                </div>
                <div class="swiper-slide d-flex h-auto justify-content-center align-items-center">
                    <a th:href="@{/shop/collections}"
                       class="d-flex text-decoration-none flex-column justify-content-center align-items-center">
                                <span class="btn btn-dark btn-icon mb-3"><i
                                        class="ri-arrow-right-line ri-lg lh-1"></i></span>
                        <span class="lead fw-bolder">See All</span>
                    </a>
                </div>
            </div>

            <!-- Buttons-->
            <div class="swiper-btn swiper-disabled-hide swiper-prev swiper-btn-side btn-icon bg-dark text-white ms-3 shadow-lg mt-n5 ms-n4">
                <i class="ri-arrow-left-s-line ri-lg"></i>
            </div>
            <div class="swiper-btn swiper-disabled-hide swiper-next swiper-btn-side swiper-btn-side-right btn-icon bg-dark text-white me-n4 shadow-lg mt-n5">
                <i class="ri-arrow-right-s-line ri-lg"></i>
            </div>
            <!-- Add Scrollbar -->
            <div class="swiper-scrollbar"></div>
        </div>
        <!-- / Swiper Latest-->
    </div>
    <!--/ Related Products-->

    <!-- /Page Content -->
</section>
<!-- / Main Section-->

<!-- Footer-->
<footer th:replace="shop/fragments/footer::footer"></footer>
<!-- / Footer-->

<!-- Cart Offcanvas-->
<div th:replace="shop/fragments/drawer-cart::div"></div>
<!-- Search Overlay-->
<section class="search-overlay">
    <div class="container search-container">
        <div class="py-5">
            <div class="d-flex justify-content-between align-items-center mb-4">
                <p class="lead lh-1 m-0 fw-bold">What are you looking for?</p>
                <button class="btn btn-light btn-close-search"><i class="ri-close-circle-line align-bottom"></i>
                    Close search
                </button>
            </div>
            <form>
                <input type="text" class="form-control" id="searchForm"
                       placeholder="Search by product or category name...">
            </form>
            <div class="my-5">
                <p class="lead fw-bolder">2 results found for <span class="fw-bold">"Waterproof Jacket"</span></p>
                <div class="row">
                    <div class="col-12 col-md-6 col-lg-3 mb-3 mb-lg-0">
                        <!-- Card Product-->
                        <div class="card position-relative h-100 card-listing hover-trigger">
                            <div class="card-header">
                                <picture class="position-relative overflow-hidden d-block bg-light">
                                    <img class="w-100 img-fluid position-relative z-index-10" title=""
                                         src="../dist/images/products/product-1.jpg"
                                         alt="Bootstrap 5 Template by Pixel Rocket">
                                </picture>
                                <div class="card-actions">
                                        <span
                                                class="small text-uppercase tracking-wide fw-bolder text-center d-block">Quick
                                            Add</span>
                                    <div class="d-flex justify-content-center align-items-center flex-wrap mt-3">
                                        <button class="btn btn-outline-dark btn-sm mx-2">S</button>
                                        <button class="btn btn-outline-dark btn-sm mx-2">M</button>
                                        <button class="btn btn-outline-dark btn-sm mx-2">L</button>
                                    </div>
                                </div>
                            </div>
                            <div class="card-body px-0 text-center">
                                <div class="d-flex justify-content-center align-items-center mx-auto mb-1">
                                    <!-- Review Stars Small-->
                                    <div class="rating position-relative d-table">
                                        <div class="position-absolute stars" style="width: 80%">
                                            <i class="ri-star-fill text-dark mr-1"></i>
                                            <i class="ri-star-fill text-dark mr-1"></i>
                                            <i class="ri-star-fill text-dark mr-1"></i>
                                            <i class="ri-star-fill text-dark mr-1"></i>
                                            <i class="ri-star-fill text-dark mr-1"></i>
                                        </div>
                                        <div class="stars">
                                            <i class="ri-star-fill mr-1 text-muted opacity-25"></i>
                                            <i class="ri-star-fill mr-1 text-muted opacity-25"></i>
                                            <i class="ri-star-fill mr-1 text-muted opacity-25"></i>
                                            <i class="ri-star-fill mr-1 text-muted opacity-25"></i>
                                            <i class="ri-star-fill mr-1 text-muted opacity-25"></i>
                                        </div>
                                    </div>
                                    <span class="small fw-bolder ms-2 text-muted"> 4.2 (123)</span>
                                </div>
                                <a class="mb-0 mx-2 mx-md-4 fs-p link-cover text-decoration-none d-block text-center"
                                   href="./product-detail.html">Mens Pennie II Waterproof Jacket</a>
                                <p class="fw-bolder m-0 mt-2">$325.66</p>
                            </div>
                        </div>
                        <!--/ Card Product-->
                    </div>
                    <div class="col-12 col-md-6 col-lg-3">
                        <!-- Card Product-->
                        <div class="card position-relative h-100 card-listing hover-trigger">
                            <div class="card-header">
                                <picture class="position-relative overflow-hidden d-block bg-light">
                                    <img class="w-100 img-fluid position-relative z-index-10" title=""
                                         src="../dist/images/products/product-2.jpg"
                                         alt="Bootstrap 5 Template by Pixel Rocket">
                                </picture>
                                <div class="card-actions">
                                        <span
                                                class="small text-uppercase tracking-wide fw-bolder text-center d-block">Quick
                                            Add</span>
                                    <div class="d-flex justify-content-center align-items-center flex-wrap mt-3">
                                        <button class="btn btn-outline-dark btn-sm mx-2">S</button>
                                        <button class="btn btn-outline-dark btn-sm mx-2">M</button>
                                        <button class="btn btn-outline-dark btn-sm mx-2">L</button>
                                    </div>
                                </div>
                            </div>
                            <div class="card-body px-0 text-center">
                                <div class="d-flex justify-content-center align-items-center mx-auto mb-1">
                                    <!-- Review Stars Small-->
                                    <div class="rating position-relative d-table">
                                        <div class="position-absolute stars" style="width: 70%">
                                            <i class="ri-star-fill text-dark mr-1"></i>
                                            <i class="ri-star-fill text-dark mr-1"></i>
                                            <i class="ri-star-fill text-dark mr-1"></i>
                                            <i class="ri-star-fill text-dark mr-1"></i>
                                            <i class="ri-star-fill text-dark mr-1"></i>
                                        </div>
                                        <div class="stars">
                                            <i class="ri-star-fill mr-1 text-muted opacity-25"></i>
                                            <i class="ri-star-fill mr-1 text-muted opacity-25"></i>
                                            <i class="ri-star-fill mr-1 text-muted opacity-25"></i>
                                            <i class="ri-star-fill mr-1 text-muted opacity-25"></i>
                                            <i class="ri-star-fill mr-1 text-muted opacity-25"></i>
                                        </div>
                                    </div>
                                    <span class="small fw-bolder ms-2 text-muted"> 4.5 (1289)</span>
                                </div>
                                <a class="mb-0 mx-2 mx-md-4 fs-p link-cover text-decoration-none d-block text-center"
                                   href="./product-detail.html">Mens Storm Waterproof Jacket</a>
                                <p class="fw-bolder m-0 mt-2">$499.99</p>
                            </div>
                        </div>
                        <!--/ Card Product-->
                    </div>
                </div>
            </div>

            <div class="bg-dark p-4 text-white">
                <p class="lead m-0">Didn't find what you are looking for? <a
                        class="transition-all opacity-50-hover text-white text-link-border border-white pb-1 border-2"
                        href="#">Send us a message.</a></p>
            </div>
        </div>
    </div>

</section>

<script th:replace="shop/fragments/script::div"></script>
<script th:inline="javascript">
    const quantity = [[${objDetail.quantity}]];
    document.addEventListener('input', function (event) {
        if (event.target && event.target.id === 'inputQuantity') {
            if (event.target.value <= 0) {
                document.getElementById("inputQuantity").value = 1;
            } else if (parseInt(event.target.value) > quantity) {
                document.getElementById("inputQuantity").value = quantity;
            }
        }
    });
</script>
<script type="module" th:src="@{/shop/script/productDetail.js}"></script>
</body>
</html>