<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">

<head th:replace="shop/fragments/header::head"></head>

<body class="">

<!-- Navbar -->
<div th:replace="shop/fragments/navbar-2::navbar(isError = false)"></div>
<!-- / Navbar-->

<!-- Main Section-->
<div class="content-page mb-5">
    <div class="content">

        <!-- Start Content-->
        <div class="container mt-4">
            <div class="row d-flex justify-content-around position-relative">
                <!--row left-->
                <div class="col-xl-3 col-lg-5">
                    <div class="card"
                         style="box-shadow: rgba(0, 0, 0, 0.02) 0px 1px 0px 0px, rgba(27, 31, 35, 0.15) 0px 0px 0px 1px; height: 200px">
                        <div class="card-body">
                            <h4 class="mb-0 mt-2">[[${user.username}]]</h4>
                            <p class="text-muted font-14">Người dùng</p>

                            <ul class="list-group list-group-flush mt-3 text-start">
                                <a href="/shop/account-setting" class="list-group-item list-group-item-action">Tài khoản
                                    của tôi</a>
                                <a th:href="@{/shop/purchase-history}"
                                   class="list-group-item list-group-item-action active">Đơn Mua</a>
                            </ul>
                        </div> <!-- end card-body -->
                    </div> <!-- end card -->
                </div>
                <!--row right-->
                <div class="col-xl-9 col-lg-7"
                     style="box-shadow: rgba(0, 0, 0, 0.02) 0px 1px 3px 0px, rgba(27, 31, 35, 0.15) 0px 0px 0px 1px;">
                    <div class="card">
                        <div class="card-body">
                            <ul class="nav nav-pills bg-nav-pills nav-justified mb-3">
                                <li class="nav-item">
                                    <a href="#statusAll" data-bs-toggle="tab" aria-expanded="false"
                                       class="nav-link rounded-0" style="width: 130px">
                                        Tất cả ([[${status_all.size}]])
                                    </a>
                                </li>
                                <li class="nav-item">
                                    <a href="#statusWaitConfirm" data-bs-toggle="tab" aria-expanded="true"
                                       class="nav-link rounded-0 active" style="width: 170px">
                                        Chờ xác nhận ([[${status_wait_confirm.size}]])
                                    </a>
                                </li>
                                <li class="nav-item">
                                    <a href="#statusWaitDelivery" data-bs-toggle="tab" aria-expanded="false"
                                       class="nav-link rounded-0" style="width: 170px">
                                        Chờ giao hàng ([[${status_wait_delivery.size}]])
                                    </a>
                                </li>
                                <li class="nav-item">
                                    <a href="#status_on_delivery" data-bs-toggle="tab" aria-expanded="false"
                                       class="nav-link rounded-0" style="width: 170px">
                                        Đang giao hàng ([[${status_on_delivery.size}]])
                                    </a>
                                </li>
                                <li class="nav-item">
                                    <a href="#status_complete" data-bs-toggle="tab" aria-expanded="false"
                                       class="nav-link rounded-0">
                                        Hoàn thành ([[${status_complete.size}]])
                                    </a>
                                </li>
                                <li class="nav-item">
                                    <a href="#statusWaitCancel" data-bs-toggle="tab" aria-expanded="false"
                                       class="nav-link rounded-0">
                                        Đã hủy ([[${status_cancel.size}]])
                                    </a>
                                </li>
                            </ul>
                            <div class="tab-content">
                                <div class="tab-pane pt-5" id="statusAll"
                                     style="max-height: 500px; overflow: auto">
                                    <div class="table-responsive">
                                        <table class="table table-borderless table-striped">
                                            <thead class="table-primary">
                                            <tr>
                                                <th scope="col">STT</th>
                                                <th scope="col">Sản phẩm</th>
                                                <th scope="col">Số lượng</th>
                                                <th scope="col">Giá tiền</th>
                                                <th scope="col">Trạng thái</th>
                                                <th scope="col">Trạng thái thanh toán</th>
                                            </tr>
                                            </thead>
                                            <tbody>
                                            <tr th:each="item,index:${status_all}">
                                                <th scope="row">[[${index.index+1}]]</th>
                                                <td>
                                                    <div class="d-flex flex-column">
                                                        <div>
                                                            [[${item.productDetail.product.name}]]
                                                        </div>
                                                        <div>
                                                            [[${item.productDetail.color.name}]]/[[${item.productDetail.size.name}]]
                                                        </div>
                                                    </div>
                                                </td>
                                                <td>[[${item.quantity}]]</td>
                                                <td class="order-price">[[${item.price}]]</td>
                                                <td class="order-status">[[${item.order.status}]]</td>
                                                <td class="payment-status">[[${item.order.paymentStatus}]]</td>
                                            </tr>
                                            </tbody>
                                        </table>
                                    </div>
                                </div> <!-- end tab-pane -->
                                <!-- end about me section content -->

                                <div class="tab-pane show active" id="statusWaitConfirm" style="max-height: 500px; overflow: auto">
                                    <div class="table-responsive">
                                        <table class="table table-borderless table-striped">
                                            <thead class="table-primary">
                                            <tr>
                                                <th scope="col">STT</th>
                                                <th scope="col">Sản phẩm</th>
                                                <th scope="col">Số lượng</th>
                                                <th scope="col">Giá tiền</th>
                                                <th scope="col">Trạng thái</th>
                                                <th scope="col">Trạng thái thanh toán</th>
                                                <th></th>
                                            </tr>
                                            </thead>
                                            <tbody>
                                            <tr th:each="item,index:${status_wait_confirm}">
                                                <th scope="row">[[${index.index+1}]]</th>
                                                <td>[[${item.productDetail.product.name}]]</td>
                                                <td>[[${item.quantity}]]</td>
                                                <td class="order-price">[[${item.price}]]</td>
                                                <td class="order-status">[[${item.order.status}]]</td>
                                                <td class="payment-status">[[${item.order.paymentStatus}]]</td>
                                                <td>
                                                    <div>
                                                        <button class="btn btn-success btn-cancel"
                                                                th:data-id="${item.order.id}"
                                                                th:data-value="${item.productDetail.id}"
                                                                data-bs-toggle="modal" data-bs-target="#exampleModal">
                                                            Hủy mua hàng
                                                        </button>
                                                    </div>
                                                </td>
                                            </tr>
                                            </tbody>
                                        </table>
                                    </div>
                                </div>

                                <div class="tab-pane" id="statusWaitDelivery" style="max-height: 500px; overflow: auto">
                                    <div class="table-responsive">
                                        <table class="table table-borderless table-striped">
                                            <thead class="table-primary">
                                            <tr>
                                                <th scope="col">STT</th>
                                                <th scope="col">Sản phẩm</th>
                                                <th scope="col">Số lượng</th>
                                                <th scope="col">Giá tiền</th>
                                                <th scope="col">Trạng thái</th>
                                                <th scope="col">Trạng thái thanh toán</th>
                                            </tr>
                                            </thead>
                                            <tbody>
                                            <tr th:each="item,index:${status_wait_delivery}">
                                                <th scope="row">[[${index.index+1}]]</th>
                                                <td>[[${item.productDetail.product.name}]]</td>
                                                <td>[[${item.quantity}]]</td>
                                                <td class="order-price">[[${item.price}]]</td>
                                                <td class="order-status">[[${item.order.status}]]</td>
                                                <td class="payment-status">[[${item.order.paymentStatus}]]</td>
                                            </tr>
                                            </tbody>
                                        </table>
                                    </div>
                                </div>

                                <div class="tab-pane" id="status_on_delivery" style="max-height: 500px; overflow: auto">
                                    <div class="table-responsive">
                                        <table class="table table-borderless table-striped">
                                            <thead class="table-primary">
                                            <tr>
                                                <th scope="col">STT</th>
                                                <th scope="col">Sản phẩm</th>
                                                <th scope="col">Số lượng</th>
                                                <th scope="col">Giá tiền</th>
                                                <th scope="col">Trạng thái</th>
                                                <th scope="col">Trạng thái thanh toán</th>
                                            </tr>
                                            </thead>
                                            <tbody>
                                            <tr th:each="item,index:${status_on_delivery}">
                                                <th scope="row">[[${index.index+1}]]</th>
                                                <td>[[${item.productDetail.product.name}]]</td>
                                                <td>[[${item.quantity}]]</td>
                                                <td class="order-price">[[${item.price}]]</td>
                                                <td class="order-status">[[${item.order.status}]]</td>
                                                <td class="payment-status">[[${item.order.paymentStatus}]]</td>
                                            </tr>
                                            </tbody>
                                        </table>
                                    </div>
                                </div>

                                <div class="tab-pane" id="status_complete" style="max-height: 500px; overflow: auto">
                                    <div class="table-responsive">
                                        <table class="table table-borderless table-striped">
                                            <thead class="table-primary">
                                            <tr>
                                                <th scope="col">STT</th>
                                                <th scope="col">Sản phẩm</th>
                                                <th scope="col">Số lượng</th>
                                                <th scope="col">Giá tiền</th>
                                                <th scope="col">Trạng thái</th>
                                                <th scope="col">Trạng thái thanh toán</th>
                                            </tr>
                                            </thead>
                                            <tbody>
                                            <tr th:each="item,index:${status_complete}">
                                                <th scope="row">[[${index.index+1}]]</th>
                                                <td>[[${item.productDetail.product.name}]]</td>
                                                <td>[[${item.quantity}]]</td>
                                                <td class="order-price">[[${item.price}]]</td>
                                                <td class="order-status">[[${item.order.status}]]</td>
                                                <td class="payment-status">[[${item.order.paymentStatus}]]</td>
                                            </tr>
                                            </tbody>
                                        </table>
                                    </div>
                                </div>

                                <div class="tab-pane" id="statusWaitCancel">
                                    <div class="table-responsive">
                                        <table class="table table-borderless table-striped">
                                            <thead class="table-primary">
                                            <tr>
                                                <th scope="col">STT</th>
                                                <th scope="col">Sản phẩm</th>
                                                <th scope="col">Số lượng</th>
                                                <th scope="col">Giá tiền</th>
                                                <th scope="col">Trạng thái</th>
                                                <th scope="col">Trạng thái thanh toán</th>
                                                <th scope="col">Lý do hủy</th>
                                            </tr>
                                            </thead>
                                            <tbody>
                                            <tr th:each="item,index:${status_cancel}">
                                                <th scope="row">[[${index.index+1}]]</th>
                                                <td>
                                                    <div class="d-flex flex-column">
                                                        <div>
                                                            [[${item.productDetail.product.name}]]
                                                        </div>
                                                        <div>
                                                            [[${item.productDetail.color.name}]]/[[${item.productDetail.size.name}]]
                                                        </div>
                                                    </div>
                                                </td>
                                                <td>[[${item.quantity}]]</td>
                                                <td class="order-price">[[${item.price}]]</td>
                                                <td class="order-status">[[${item.order.status}]]</td>
                                                <td class="payment-status">[[${item.order.paymentStatus}]]</td>
                                                <td>[[${item.order.note}]]</td>
                                            </tr>
                                            </tbody>
                                        </table>
                                    </div>
                                </div>

                                <div class="tab-pane" id="settings">

                                </div>
                                <!-- end settings content-->

                            </div> <!-- end tab-content -->
                        </div> <!-- end card body -->
                    </div> <!-- end card -->
                </div>
            </div>
        </div>
        <!-- container -->

    </div>
    <!-- content -->
</div>
<!-- / Main Section-->

<!--modal-->
<div class="modal fade" id="exampleModal" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="exampleModalLabel">Lý do huỷ đơn</h5>
                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
            </div>
            <form action="" id="formCancel">
                <div class="modal-body">
                    <div class="form-check">
                        <input class="form-check-input" type="radio" name="flexRadioDefault" id="1" checked>
                        <label class="form-check-label" for="1" >
                            Thay đổi địa chỉ giao hàng
                        </label>
                    </div>
                    <div class="form-check">
                        <input class="form-check-input" type="radio" name="flexRadioDefault" id="2">
                        <label class="form-check-label" for="2">
                            Không muốn mua nữa
                        </label>
                    </div>
                    <div class="form-check">
                        <input class="form-check-input" type="radio" name="flexRadioDefault" id="3">
                        <label class="form-check-label" for="3">
                            Thay đổi số lượng
                        </label>
                    </div>
                    <div class="form-check">
                        <input class="form-check-input" type="radio" name="flexRadioDefault" id="4">
                        <label class="form-check-label" for="4">
                            Lý do khác
                        </label>
                    </div>
                    <div class="col-md-12">
                        <div class="mb-3">
                            <textarea rows="3" class="form-control" id="note" name="note" placeholder="Nhập lý do"></textarea>
                        </div>
                    </div>
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Đóng</button>
                    <button type="submit" class="btn btn-primary">Huỷ đơn</button>
                </div>
            </form>
        </div>
    </div>
</div>
<!-- / modal-->

<!-- Footer-->
<!--<footer th:replace="shop/fragments/footer::footer"></footer>-->
<!-- / Footer-->
<!-- Cart Offcanvas-->
<div th:replace="shop/fragments/drawer-cart::div"></div>

<!--script-->
<script th:replace="shop/fragments/script::div"></script>
<script type="module" th:src="@{/shop/script/purchase-history.js}"></script>
<script type="module" th:inline="javascript">
    import {getCommon} from "/common/public.js";

    const {convert2Vnd} = getCommon();

    if ([[${createOrderSuccess}]]) {
        $alterTop("success", "Đã đặt hàng thành công")
    }

    if ([[${errMess}]]) {
        $alterTop("error", [[${errMess}]])
    }


    $(document).ready(function () {
        $('.order-status').each(function () {
            const status = $(this).text().trim();
            switch (status) {
                case '0':
                    $(this).text('Hủy đơn');
                    break;
                case '1':
                    $(this).text('Tạo mới');
                    break;
                case '2':
                    $(this).text('Trả hàng');
                    break;
                case '3':
                    $(this).text('Hoàn tất');
                    break;
                case '4':
                    $(this).text('Chờ giao hàng');
                    break;
                case '5':
                    $(this).text('Chờ xác nhận');
                    break;
                case '6':
                    $(this).text('Đang giao hàng');
                    break;
                case '7':
                    $(this).text('Đã giao hàng');
                    break;
                case '8':
                    $(this).text('Chờ lấy hàng');
                    break;
                default:
                    $(this).text('Không xác định');
            }
        });

        $('.payment-status').each(function () {
            const status = $(this).text().trim();
            switch (status) {
                case '1':
                    $(this).text('Chưa thanh toán');
                    break;
                case '2':
                    $(this).text('Đã thanh toán');
                    break;
                case '3':
                    $(this).text('Chờ thanh toán');
                    break;
                default:
                    $(this).text('Không xác định');
            }
        });

        $('.order-price').each(function () {
            const status = $(this).text().trim();
            $(this).text(convert2Vnd(status));
        });
    });
</script>
</body>
</html>