<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">

<head th:replace="shop/fragments/header::head"></head>

<body class="">

<!-- Navbar -->
<div th:replace="shop/fragments/navbar-2::navbar(isError = false)"></div>
<!-- / Navbar-->

<!-- Main Section-->
<div class="content-page">
    <div class="content">

        <!-- Start Content-->
        <div class="container mt-4">
            <div class="row d-flex justify-content-around position-relative">
                <!--row left-->
                <div class="col-xl-3 col-lg-5">
                    <div class="card"
                         style="box-shadow: rgba(0, 0, 0, 0.02) 0px 1px 0px 0px, rgba(27, 31, 35, 0.15) 0px 0px 0px 1px; height: 200px">
                        <div class="card-body">
                            <h4 class="mb-0 mt-2">[[${user.username}]]</h4>
                            <p class="text-muted font-14">Người dùng</p>

                            <ul class="list-group list-group-flush mt-3 text-start">
                                <a href="#" class="list-group-item list-group-item-action">Tài khoản của tôi</a>
                                <a th:href="@{/shop/purchase-history}"
                                   class="list-group-item list-group-item-action active">Đơn Mua</a>
                            </ul>
                        </div> <!-- end card-body -->
                    </div> <!-- end card -->
                </div>
                <!--row right-->
                <div class="col-xl-9 col-lg-7"
                     style="box-shadow: rgba(0, 0, 0, 0.02) 0px 1px 3px 0px, rgba(27, 31, 35, 0.15) 0px 0px 0px 1px;">
                    <div class="card">
                        <div class="card-body">
                            <ul class="nav nav-pills bg-nav-pills nav-justified mb-3">
                                <li class="nav-item">
                                    <a href="#statusAll" data-bs-toggle="tab" aria-expanded="true"
                                       class="nav-link rounded-0 active">
                                        Tất cả
                                    </a>
                                </li>
                                <li class="nav-item">
                                    <a href="#statusWaitConfirm" data-bs-toggle="tab" aria-expanded="false"
                                       class="nav-link rounded-0">
                                        Chờ xác nhận
                                    </a>
                                </li>
                                <li class="nav-item">
                                    <a href="#settings" data-bs-toggle="tab" aria-expanded="false"
                                       class="nav-link rounded-0">
                                        Chờ giao hàng
                                    </a>
                                </li>
                                <li class="nav-item">
                                    <a href="#settings" data-bs-toggle="tab" aria-expanded="false"
                                       class="nav-link rounded-0">
                                        Đang giao hàng
                                    </a>
                                </li>
                                <li class="nav-item">
                                    <a href="#settings" data-bs-toggle="tab" aria-expanded="false"
                                       class="nav-link rounded-0">
                                        Hoàn thành
                                    </a>
                                </li>
                                <li class="nav-item">
                                    <a href="#statusWaitCancel" data-bs-toggle="tab" aria-expanded="false"
                                       class="nav-link rounded-0">
                                        Đã hủy
                                    </a>
                                </li>
                            </ul>
                            <div class="tab-content">
                                <div class="tab-pane show active" id="statusAll">
                                    <div class="table-responsive">
                                        <table class="table table-borderless table-striped">
                                            <thead class="table-primary">
                                            <tr>
                                                <th scope="col">STT</th>
                                                <th scope="col">Sản phẩm</th>
                                                <th scope="col">Số lượng</th>
                                                <th scope="col">Giá tiền</th>
                                                <th scope="col">Trạng thái</th>
                                                <th scope="col">Trạng thái thanh toán</th>
                                            </tr>
                                            </thead>
                                            <tbody>
                                            <tr th:each="item,index:${status_all}">
                                                <th scope="row">[[${index.index+1}]]</th>
                                                <td>
                                                    <div class="d-flex flex-column">
                                                        <div>
                                                            [[${item.productDetail.product.name}]]
                                                        </div>
                                                        <div>
                                                            [[${item.productDetail.color.name}]]/[[${item.productDetail.size.name}]]
                                                        </div>
                                                    </div>
                                                </td>
                                                <td>[[${item.quantity}]]</td>
                                                <td class="order-price">[[${item.price}]]</td>
                                                <td class="order-status">[[${item.order.status}]]</td>
                                                <td class="payment-status">[[${item.order.paymentStatus}]]</td>
                                            </tr>
                                            </tbody>
                                        </table>
                                    </div>
                                    <nav class="border-top mt-5 pt-5 d-flex justify-content-between align-items-center"
                                         aria-label="Category Pagination">
                                        <ul class="pagination">
                                            <li class="page-item"><a class="page-link" href="#"><i
                                                    class="ri-arrow-left-line align-bottom"></i> Prev</a></li>
                                        </ul>
                                        <ul class="pagination">
                                            <li class="page-item active mx-1"><a class="page-link" href="#">1</a></li>
                                            <li class="page-item mx-1"><a class="page-link" href="#">2</a></li>
                                            <li class="page-item mx-1"><a class="page-link" href="#">3</a></li>
                                        </ul>
                                        <ul class="pagination">
                                            <li class="page-item"><a class="page-link" href="#">Next <i
                                                    class="ri-arrow-right-line align-bottom"></i></a></li>
                                        </ul>
                                    </nav>
                                </div> <!-- end tab-pane -->
                                <!-- end about me section content -->

                                <div class="tab-pane" id="statusWaitConfirm">
                                    <div class="table-responsive">
                                        <table class="table table-borderless table-striped">
                                            <thead class="table-primary">
                                            <tr>
                                                <th scope="col">STT</th>
                                                <th scope="col">Sản phẩm</th>
                                                <th scope="col">Số lượng</th>
                                                <th scope="col">Giá tiền</th>
                                                <th scope="col">Trạng thái</th>
                                                <th scope="col">Trạng thái thanh toán</th>
                                            </tr>
                                            </thead>
                                            <tbody>
                                            <tr th:each="item,index:${status_wait_confirm}">
                                                <th scope="row">[[${index.index+1}]]</th>
                                                <td>[[${item.productDetail.product.name}]]</td>
                                                <td>[[${item.quantity}]]</td>
                                                <td class="order-price">[[${item.price}]]</td>
                                                <td class="order-status">[[${item.order.status}]]</td>
                                                <td class="payment-status">[[${item.order.paymentStatus}]]</td>
                                            </tr>
                                            </tbody>
                                        </table>
                                    </div>
                                    <nav class="border-top mt-5 pt-5 d-flex justify-content-between align-items-center"
                                         aria-label="Category Pagination">
                                        <ul class="pagination">
                                            <li class="page-item"><a class="page-link" href="#"><i
                                                    class="ri-arrow-left-line align-bottom"></i> Prev</a></li>
                                        </ul>
                                        <ul class="pagination">
                                            <li class="page-item active mx-1"><a class="page-link" href="#">1</a></li>
                                            <li class="page-item mx-1"><a class="page-link" href="#">2</a></li>
                                            <li class="page-item mx-1"><a class="page-link" href="#">3</a></li>
                                        </ul>
                                        <ul class="pagination">
                                            <li class="page-item"><a class="page-link" href="#">Next <i
                                                    class="ri-arrow-right-line align-bottom"></i></a></li>
                                        </ul>
                                    </nav>
                                </div>

                                <div class="tab-pane" id="statusWaitCancel">
                                    <div class="table-responsive">
                                        <table class="table table-borderless table-striped">
                                            <thead class="table-primary">
                                            <tr>
                                                <th scope="col">STT</th>
                                                <th scope="col">Sản phẩm</th>
                                                <th scope="col">Số lượng</th>
                                                <th scope="col">Giá tiền</th>
                                                <th scope="col">Trạng thái</th>
                                                <th scope="col">Trạng thái thanh toán</th>
                                                <th scope="col">Lý do hủy</th>
                                            </tr>
                                            </thead>
                                            <tbody>
                                            <tr th:each="item,index:${status_cancel}">
                                                <th scope="row">[[${index.index+1}]]</th>
                                                <td>
                                                    <div class="d-flex flex-column">
                                                        <div>
                                                            [[${item.productDetail.product.name}]]
                                                        </div>
                                                        <div>
                                                            [[${item.productDetail.color.name}]]/[[${item.productDetail.size.name}]]
                                                        </div>
                                                    </div>
                                                </td>
                                                <td>[[${item.quantity}]]</td>
                                                <td class="order-price">[[${item.price}]]</td>
                                                <td class="order-status">[[${item.order.status}]]</td>
                                                <td class="payment-status">[[${item.order.paymentStatus}]]</td>
                                                <td>[[${item.order.note}]]</td>
                                            </tr>
                                            </tbody>
                                        </table>
                                    </div>
                                    <nav class="border-top mt-5 pt-5 d-flex justify-content-between align-items-center"
                                         aria-label="Category Pagination">
                                        <ul class="pagination">
                                            <li class="page-item"><a class="page-link" href="#"><i
                                                    class="ri-arrow-left-line align-bottom"></i> Prev</a></li>
                                        </ul>
                                        <ul class="pagination">
                                            <li class="page-item active mx-1"><a class="page-link" href="#">1</a></li>
                                            <li class="page-item mx-1"><a class="page-link" href="#">2</a></li>
                                            <li class="page-item mx-1"><a class="page-link" href="#">3</a></li>
                                        </ul>
                                        <ul class="pagination">
                                            <li class="page-item"><a class="page-link" href="#">Next <i
                                                    class="ri-arrow-right-line align-bottom"></i></a></li>
                                        </ul>
                                    </nav>
                                </div>

                                <div class="tab-pane" id="settings">
<!--                                    <form>-->
<!--                                        <h5 class="mb-4 text-uppercase"><i class="mdi mdi-account-circle me-1"></i>-->
<!--                                            Personal Info</h5>-->
<!--                                        <div class="row">-->
<!--                                            <div class="col-md-6">-->
<!--                                                <div class="mb-3">-->
<!--                                                    <label for="firstname" class="form-label">First Name</label>-->
<!--                                                    <input type="text" class="form-control" id="firstname"-->
<!--                                                           placeholder="Enter first name">-->
<!--                                                </div>-->
<!--                                            </div>-->
<!--                                            <div class="col-md-6">-->
<!--                                                <div class="mb-3">-->
<!--                                                    <label for="lastname" class="form-label">Last Name</label>-->
<!--                                                    <input type="text" class="form-control" id="lastname"-->
<!--                                                           placeholder="Enter last name">-->
<!--                                                </div>-->
<!--                                            </div> &lt;!&ndash; end col &ndash;&gt;-->
<!--                                        </div> &lt;!&ndash; end row &ndash;&gt;-->

<!--                                        <div class="row">-->
<!--                                            <div class="col-12">-->
<!--                                                <div class="mb-3">-->
<!--                                                    <label for="userbio" class="form-label">Bio</label>-->
<!--                                                    <textarea class="form-control" id="userbio" rows="4"-->
<!--                                                              placeholder="Write something..."></textarea>-->
<!--                                                </div>-->
<!--                                            </div> &lt;!&ndash; end col &ndash;&gt;-->
<!--                                        </div> &lt;!&ndash; end row &ndash;&gt;-->

<!--                                        <div class="row">-->
<!--                                            <div class="col-md-6">-->
<!--                                                <div class="mb-3">-->
<!--                                                    <label for="useremail" class="form-label">Email Address</label>-->
<!--                                                    <input type="email" class="form-control" id="useremail"-->
<!--                                                           placeholder="Enter email">-->
<!--                                                    <span class="form-text text-muted"><small>If you want to change email please <a-->
<!--                                                            href="javascript: void(0);">click</a> here.</small></span>-->
<!--                                                </div>-->
<!--                                            </div>-->
<!--                                            <div class="col-md-6">-->
<!--                                                <div class="mb-3">-->
<!--                                                    <label for="userpassword" class="form-label">Password</label>-->
<!--                                                    <input type="password" class="form-control" id="userpassword"-->
<!--                                                           placeholder="Enter password">-->
<!--                                                    <span class="form-text text-muted"><small>If you want to change password please <a-->
<!--                                                            href="javascript: void(0);">click</a> here.</small></span>-->
<!--                                                </div>-->
<!--                                            </div> &lt;!&ndash; end col &ndash;&gt;-->
<!--                                        </div> &lt;!&ndash; end row &ndash;&gt;-->

<!--                                        <h5 class="mb-3 text-uppercase bg-light p-2"><i-->
<!--                                                class="mdi mdi-office-building me-1"></i> Company Info</h5>-->
<!--                                        <div class="row">-->
<!--                                            <div class="col-md-6">-->
<!--                                                <div class="mb-3">-->
<!--                                                    <label for="companyname" class="form-label">Company Name</label>-->
<!--                                                    <input type="text" class="form-control" id="companyname"-->
<!--                                                           placeholder="Enter company name">-->
<!--                                                </div>-->
<!--                                            </div>-->
<!--                                            <div class="col-md-6">-->
<!--                                                <div class="mb-3">-->
<!--                                                    <label for="cwebsite" class="form-label">Website</label>-->
<!--                                                    <input type="text" class="form-control" id="cwebsite"-->
<!--                                                           placeholder="Enter website url">-->
<!--                                                </div>-->
<!--                                            </div> &lt;!&ndash; end col &ndash;&gt;-->
<!--                                        </div> &lt;!&ndash; end row &ndash;&gt;-->

<!--                                        <h5 class="mb-3 text-uppercase bg-light p-2"><i class="mdi mdi-earth me-1"></i>-->
<!--                                            Social</h5>-->
<!--                                        <div class="row">-->
<!--                                            <div class="col-md-6">-->
<!--                                                <div class="mb-3">-->
<!--                                                    <label for="social-fb" class="form-label">Facebook</label>-->
<!--                                                    <div class="input-group">-->
<!--                                                        <span class="input-group-text"><i class="mdi mdi-facebook"></i></span>-->
<!--                                                        <input type="text" class="form-control" id="social-fb"-->
<!--                                                               placeholder="Url">-->
<!--                                                    </div>-->
<!--                                                </div>-->
<!--                                            </div>-->
<!--                                            <div class="col-md-6">-->
<!--                                                <div class="mb-3">-->
<!--                                                    <label for="social-tw" class="form-label">Twitter</label>-->
<!--                                                    <div class="input-group">-->
<!--                                                        <span class="input-group-text"><i-->
<!--                                                                class="mdi mdi-twitter"></i></span>-->
<!--                                                        <input type="text" class="form-control" id="social-tw"-->
<!--                                                               placeholder="Username">-->
<!--                                                    </div>-->
<!--                                                </div>-->
<!--                                            </div> &lt;!&ndash; end col &ndash;&gt;-->
<!--                                        </div> &lt;!&ndash; end row &ndash;&gt;-->

<!--                                        <div class="row">-->
<!--                                            <div class="col-md-6">-->
<!--                                                <div class="mb-3">-->
<!--                                                    <label for="social-insta" class="form-label">Instagram</label>-->
<!--                                                    <div class="input-group">-->
<!--                                                        <span class="input-group-text"><i class="mdi mdi-instagram"></i></span>-->
<!--                                                        <input type="text" class="form-control" id="social-insta"-->
<!--                                                               placeholder="Url">-->
<!--                                                    </div>-->
<!--                                                </div>-->
<!--                                            </div>-->
<!--                                            <div class="col-md-6">-->
<!--                                                <div class="mb-3">-->
<!--                                                    <label for="social-lin" class="form-label">Linkedin</label>-->
<!--                                                    <div class="input-group">-->
<!--                                                        <span class="input-group-text"><i class="mdi mdi-linkedin"></i></span>-->
<!--                                                        <input type="text" class="form-control" id="social-lin"-->
<!--                                                               placeholder="Url">-->
<!--                                                    </div>-->
<!--                                                </div>-->
<!--                                            </div> &lt;!&ndash; end col &ndash;&gt;-->
<!--                                        </div> &lt;!&ndash; end row &ndash;&gt;-->

<!--                                        <div class="row">-->
<!--                                            <div class="col-md-6">-->
<!--                                                <div class="mb-3">-->
<!--                                                    <label for="social-sky" class="form-label">Skype</label>-->
<!--                                                    <div class="input-group">-->
<!--                                                        <span class="input-group-text"><i-->
<!--                                                                class="mdi mdi-skype"></i></span>-->
<!--                                                        <input type="text" class="form-control" id="social-sky"-->
<!--                                                               placeholder="@username">-->
<!--                                                    </div>-->
<!--                                                </div>-->
<!--                                            </div>-->
<!--                                            <div class="col-md-6">-->
<!--                                                <div class="mb-3">-->
<!--                                                    <label for="social-gh" class="form-label">Github</label>-->
<!--                                                    <div class="input-group">-->
<!--                                                        <span class="input-group-text"><i-->
<!--                                                                class="mdi mdi-github"></i></span>-->
<!--                                                        <input type="text" class="form-control" id="social-gh"-->
<!--                                                               placeholder="Username">-->
<!--                                                    </div>-->
<!--                                                </div>-->
<!--                                            </div> &lt;!&ndash; end col &ndash;&gt;-->
<!--                                        </div> &lt;!&ndash; end row &ndash;&gt;-->

<!--                                        <div class="text-end">-->
<!--                                            <button type="submit" class="btn btn-success mt-2"><i-->
<!--                                                    class="mdi mdi-content-save"></i> Save-->
<!--                                            </button>-->
<!--                                        </div>-->
<!--                                    </form>-->
                                </div>
                                <!-- end settings content-->

                            </div> <!-- end tab-content -->
                        </div> <!-- end card body -->
                    </div> <!-- end card -->
                </div>
            </div>
        </div>
        <!-- container -->

    </div>
    <!-- content -->
</div>
<!-- / Main Section-->

<!-- Footer-->
<footer th:replace="shop/fragments/footer::footer"></footer>
<!-- / Footer-->
<!-- Cart Offcanvas-->
<div th:replace="shop/fragments/drawer-cart::div"></div>

<!--script-->
<script th:replace="shop/fragments/script::div"></script>
<script type="module" th:inline="javascript">
    import {getCommon} from "/common/public.js";

    const {convert2Vnd} = getCommon();

    if ([[${createOrderSuccess}]]) {
        $alterTop("success", "Đã đặt hàng thành công")
    }

    if ([[${errMess}]]) {
        $alterTop("error", [[${errMess}]])
    }


    $(document).ready(function () {
        $('.order-status').each(function () {
            const status = $(this).text().trim();
            switch (status) {
                case '0':
                    $(this).text('Hủy đơn');
                    break;
                case '1':
                    $(this).text('Tạo mới');
                    break;
                case '2':
                    $(this).text('Trả hàng');
                    break;
                case '3':
                    $(this).text('Hoàn tất');
                    break;
                case '4':
                    $(this).text('Chờ giao hàng');
                    break;
                case '5':
                    $(this).text('Chờ xác nhận');
                    break;
                case '6':
                    $(this).text('Đang giao hàng');
                    break;
                case '7':
                    $(this).text('Đã giao hàng');
                    break;
                case '8':
                    $(this).text('Chờ lấy hàng');
                    break;
                default:
                    $(this).text('Không xác định');
            }
        });

        $('.payment-status').each(function () {
            const status = $(this).text().trim();
            switch (status) {
                case '1':
                    $(this).text('Chưa thanh toán');
                    break;
                case '2':
                    $(this).text('Đã thanh toán');
                    break;
                case '3':
                    $(this).text('Chờ thanh toán');
                    break;
                default:
                    $(this).text('Không xác định');
            }
        });

        $('.order-price').each(function () {
            const status = $(this).text().trim();
            $(this).text(convert2Vnd(status));
        });
    });


</script>
</body>
</html>