<div class="offcanvas offcanvas-end d-none" tabindex="-1" id="offcanvasCart" th:fragment="drawer-cart" style="width: 500px">
    <div class="offcanvas-header d-flex align-items-center">
        <h5 class="offcanvas-title" id="offcanvasCartLabel">Giỏ hàng</h5>
        <button type="button" class="btn-close text-reset" data-bs-dismiss="offcanvas" aria-label="Close"></button>
    </div>
    <div class="offcanvas-body">
        <div class="d-flex flex-column justify-content-between w-100 h-100">
            <div class="navbar-nav-scroll" id="show-cart-item">
<!--                jquery show here-->
            </div>
            <div class="border-top pt-3">
                <div class="d-flex justify-content-between align-items-center">
                    <p class="m-0 fw-bolder">Tạm tính</p>
                    <p class="m-0 fw-bolder" id="show-sub-total"></p>
                </div>
                <a th:href="@{/shop/cart}"
                   class="btn btn-dark fw-bolder mt-5 mb-2 d-block text-center transition-all opacity-50-hover">Xem giỏ hàng</a>
            </div>
        </div>
    </div>
</div>