<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">

<head>
    <link rel="stylesheet" th:href="@{/admin/plugins/coreui/css/coreui.min.css}"/>
    <link rel="stylesheet" th:href="@{/admin/plugins/sweetalert/sweetalert2.min.css}"/>
    <th:block th:insert="admin/fragments/head :: head"></th:block>
    <link rel="stylesheet" th:href="@{/admin/plugins/jqgrid-5.7.0/ui.jqgrid-bootstrap4.css}"/>
    <link rel="stylesheet" th:href="@{/admin/dist/css/common.css}"/>
</head>

<body>
<script th:inline="javascript">
    const listProducts = [[${listProducts}]];
    localStorage.setItem("listData", JSON.stringify(listProducts));
</script>
<div th:replace="admin/fragments/sidebar::sidebar"></div>

<section id="content">
    <div th:replace="admin/fragments/content::content"></div>
    <main>
        <div class="head-title">
            <div class="left">
                <h1>Khuyến mãi</h1>
                <ul class="breadcrumb">
                    <li>
                        <a th:href="@{statistical}">Trang chủ</a>
                    </li>
                    <li><i class='bx bx-chevron-right'></i></li>
                    <li>
                        <a class="active" th:href="@{promotion}">khuyến mãi</a>
                    </li>
                </ul>
            </div>
        </div>

        <div class="main-pane">
            <section>
                <div class="row">
                    <div class="col-md-12 align-items-stretch grid-margin div-search">
                        <div class="card" style="min-height: calc(70vh - 30px)">
                            <div class="card-body">
                                <h4 class="card-title">Danh sách khuyến mãi</h4>

                                <div class="row d-flex justify-content-between">
                                    <div class="col-6">
                                        <form class="forms-sample" id="searchForm">
                                            <div class="input-group mb-3">
                                                <div class="input-group-prepend">
                                                    <button class="btn btn-outline-secondary" type="submit"
                                                            id="button-addon1">
                                                        <i class="menu-icon mdi mdi-magnify"></i>
                                                    </button>
                                                </div>
                                                <input id="searchInput" name="searchInput" type="text"
                                                       class="form-control"
                                                       placeholder="Tìm theo mã, tên">
                                            </div>
                                        </form>
                                    </div>
                                    <div class="col-6">
                                        <div class="d-flex justify-content-end">
                                            <button type="button" class="btn btn-primary" data-coreui-toggle="modal"
                                                    data-coreui-target="#modalPromotion">
                                                <i class="button-icon mdi mdi-plus"></i>
                                                Thêm mới
                                            </button>
                                        </div>
                                    </div>
                                </div>

                                <div class="mt-2">
                                    <table id="jqGrid" class="table table-bordered">
                                    </table>
                                    <div id="jqGridPager"></div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </section>
        </div>
    </main>
</section>
<!--dialog area-->
<div>
    <!-- Modal create -->
    <div class="modal fade" id="modalPromotion" aria-labelledby="exampleModalLabel" tabindex="-1" aria-hidden="true">
        <div class="modal-dialog modal-xl">
            <div class="modal-content">
                <form id="form-create" class="needs-validation" novalidate>
                    <div class="modal-header">
                        <h5 class="modal-title" id="exampleModalLabel">Thêm chương trình khuyến mãi</h5>
                        <button type="button" class="btn-close" data-coreui-dismiss="modal" aria-label="Close"></button>
                    </div>
                    <div class="modal-body">

                        <div class="row">
                            <input type="hidden" class="form-control" id="createId">
                            <div class="col-md-6 mb-3">
                                <label for="createName">Tên chương trình</label>
                                <input type="text" class="form-control" id="createName">
                                <div class="invalid-feedback"></div>
                            </div>
                            <div class="col-md-6 mb-3">
                                <label>Trạng thái</label>
                                <div class="form-check form-check-inline">
                                    <input class="form-check-input" type="radio" id="createStatus1" name="status"
                                           checked/>
                                    <label class="form-check-label" for="createStatus1">Kích hoạt</label>
                                </div>
                                <div class="form-check form-check-inline">
                                    <input class="form-check-input" type="radio" id="createStatus2" name="status"/>
                                    <label class="form-check-label" for="createStatus2">Hủy kích hoạt</label>
                                </div>
                                <div class="invalid-feedback"></div>
                            </div>
                        </div>
                        <div class="form-row">
                            <div class="col-md-6 mb-3">
                                <label>Thời gian hiệu lực</label>
                                <div id="createDate" name="dateRanger"
                                     data-coreui-placeholder="Ngày bắt đầu, Ngày kết thúc"></div>
                                <div class="invalid-feedback"></div>
                            </div>
                        </div>
                        <hr style="color: #bbb2c3; border: 1px solid;">
                        <div class="form-row">
                            <div class="col-12">
                                <table class="table table-striped" id="dynamicTable">
                                    <thead>
                                    <tr class="table-info">
                                        <th style="width: 300px">Sản phẩm</th>
                                        <th>Giá trị giảm</th>
                                        <th></th>
                                    </tr>
                                    </thead>
                                    <tbody>
                                    <tr>
                                        <td>
                                            <select class="form-select" name="products[]">
                                                <option value="" disabled selected>Chọn sản phẩm</option>
                                                <option th:each="item: ${listProducts}" th:value="${item.id}">
                                                    [[${item.name}]]
                                                </option>
                                            </select>
                                        </td>
                                        <td>
                                            <div class="input-group">
                                                <input type="text" name="discount[]" class="form-control"
                                                       placeholder="Giá trị giảm" style="width: 65%">
                                                <select class="form-select" name="discountType[]">
                                                    <option value="1">VNĐ</option>
                                                    <option value="2">%</option>
                                                </select>
                                            </div>
                                        </td>
                                        <td>
                                            <button type="button" class="btn btn-danger remove-row">
                                                <i class='bx bx-trash'></i>
                                            </button>
                                        </td>
                                    </tr>
                                    </tbody>
                                </table>
                                <button type="button" class="btn btn-default" id="addRow">Thêm sản phẩm</button>
                            </div>
                        </div>
                    </div>
                    <div class="modal-footer">
                        <button type="button" class="btn btn-secondary" data-coreui-dismiss="modal">Đóng</button>
                        <button type="submit" class="btn btn-primary">Lưu</button>
                    </div>
                </form>
            </div>
        </div>
    </div>

    <div class="modal fade" id="modalPromotionDetail" aria-labelledby="promotionDetailLabel" tabindex="-1"
         aria-hidden="true">
        <div class="modal-dialog modal-xl">
            <div class="modal-content">
                <div class="modal-header d-flex flex-column position-relative">
                    <div class="d-flex mb-5 w-100">
                        <h5 class="modal-title" id="promotionDetailLabel">Chi tiết khuyến mãi</h5>
                        <button type="button" class="btn-close" data-coreui-dismiss="modal" aria-label="Close"></button>
                    </div>
                    <div class="position-absolute bottom-0 w-50" style="left: 0">
                        <nav>
                            <div class="nav nav-underline nav-fill" id="nav-tab" role="tablist">
                                <button class="nav-link active" id="nav-home-tab" data-coreui-toggle="tab"
                                        data-coreui-target="#nav-home" type="button" role="tab" aria-controls="nav-home"
                                        aria-selected="true">Thông tin khuyến mãi
                                </button>
                                <button class="nav-link" id="nav-profile-tab" data-coreui-toggle="tab"
                                        data-coreui-target="#nav-profile" type="button" role="tab"
                                        aria-controls="nav-profile" aria-selected="false">Lịch sử giao dịch
                                </button>
                            </div>
                        </nav>
                    </div>
                </div>
                <div class="modal-body">
                    <div class="tab-content" id="nav-tabContent">
                        <div class="tab-pane fade show active container" id="nav-home" role="tabpanel"
                             aria-labelledby="nav-home-tab" tabindex="0">
                            <div class="container row">
                                <div class="row align-items-center col-6 mb-3">
                                    <label class="col-sm-4 col-form-label">Tên chương trình:</label>
                                    <div class="col-sm-8">
                                        <span id="detailName"></span>
                                    </div>
                                </div>
                                <div class="row align-items-center col-6 mb-3">
                                    <label class="col-sm-4 col-form-label">Trạng thái</label>
                                    <div class="col-sm-8">
                                        <span id="detailStatus"></span>
                                    </div>
                                </div>
                            </div>
                            <div class="container row">
                                <div class="row align-items-center col-6 mb-3">
                                    <label class="col-sm-4 col-form-label">Thời gian hiệu lực:</label>
                                    <div class="col-sm-8">
                                        <input type="text" name="daterange" value="01/01/2018 - 01/15/2018"/>>
                                    </div>
                                </div>
                            </div>
                            <hr style="color: #bbb2c3; border: 1px solid;">
                            <div class="form-row">
                                <div class="col-12">
                                    <table class="table table-striped" id="dynamicTableDetail">
                                        <thead>
                                        <tr class="table-info">
                                            <th style="width: 300px">Sản phẩm</th>
                                            <th>Giá trị giảm</th>
                                        </tr>
                                        </thead>
                                        <tbody>
                                        <tr>

                                        </tr>
                                        </tbody>
                                    </table>
                                </div>
                            </div>
                        </div>
                        <div class="tab-pane fade" id="nav-profile" role="tabpanel" aria-labelledby="nav-profile-tab"
                             tabindex="0">
                            <table class="table">
                                <thead>
                                <tr>
                                    <th scope="col">#</th>
                                    <th scope="col">First</th>
                                    <th scope="col">Last</th>
                                    <th scope="col">Handle</th>
                                </tr>
                                </thead>
                                <tbody>
                                <tr>
                                    <th scope="row">1</th>
                                    <td>Mark</td>
                                    <td>Otto</td>
                                    <td>@mdo</td>
                                </tr>
                                <tr>
                                    <th scope="row">2</th>
                                    <td>Jacob</td>
                                    <td>Thornton</td>
                                    <td>@fat</td>
                                </tr>
                                <tr>
                                    <th scope="row">3</th>
                                    <td colspan="2">Larry the Bird</td>
                                    <td>@twitter</td>
                                </tr>
                                </tbody>
                            </table>
                        </div>
                    </div>
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-secondary" data-coreui-dismiss="modal">Đóng</button>
                </div>
            </div>
        </div>
    </div>
</div>

<!--default script-->
<script th:src="@{/admin/script.js}"></script>

<!--jquery-->
<script th:src="@{/common/jquery/jquery.min.js}"></script>
<!--plugin table-->
<script th:src="@{/admin/plugins/jqgrid-5.7.0/common.js}"></script>
<script th:src="@{/admin/plugins/jqgrid-5.7.0/jquery.jqGrid.min.js}"></script>
<script th:src="@{/admin/plugins/jqgrid-5.7.0/grid.locale-vn.js}"></script>
<!--alter-->
<script th:src="@{/common/sweetalert/common.js}"></script>
<script th:src="@{/common/sweetalert/sweetalert2.min.js}"></script>
<!--bootstrap-->
<script th:src="@{/admin/plugins/coreui/js/coreui.bundle.min.js}"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/dayjs/1.11.13/dayjs.min.js"></script>
<!--custom script-->
<script type="module" th:src="@{/common/public.js}"></script>
<script type="module" th:src="@{/admin/promotion/index.js}"></script>
</body>
</html>
