<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <th:block th:insert="admin/fragments/head :: head"></th:block>
    <link rel="stylesheet" th:href="@{/admin/shopping_offline/shopping.css}">
    <link rel="stylesheet" th:href="@{/admin/plugins/bootstrap4/mine.css}"/>
    <link rel="stylesheet" th:href="@{/admin/dist/css/common.css}"/>
    <link rel="stylesheet" th:href="@{/admin/plugins/jqgrid-5.7.0/ui.jqgrid-bootstrap4.css}"/>
    <link rel="stylesheet" th:href="@{/admin/plugins/sweetalert/sweetalert2.min.css}"/>
</head>

<body>
<div th:replace="admin/fragments/sidebar::sidebar"></div>

<section id="content">
    <div th:replace="admin/fragments/content::content"></div>
    <main>
        <form action="#" method="get" class="new-header-form">
            <button type="button" class="new-create-invoice-btn" onclick="confirmCreateInvoice()">
                <i class="bx bx-plus">Tạo hóa đơn</i>
            </button>
        </form>
        <h5>Danh sách hóa đơn:</h5>
        <div class="new-invoice-container">
            <span th:each="order, iterStat : ${listOrder}">
                <button th:text="'Hóa đơn ' + ${iterStat.index + 1}"
                        th:onclick="'viewInvoice(' + ${order.id} + ')'">
                </button>
            </span>
        </div>

            <div class="row mt-5">
                <!-- Order List Area -->
                <div class="col-md-12 new-order-list-area">
                    <div class="new-order-list-content">
                        <h5>Giỏ hàng</h5>
                        <button class="new-btn-add">Thêm sản phẩm</button>

                        <table class="new-table mt-3" border="1">
                            <thead>
                            <tr>
                                <th scope="col">STT</th>
                                <th scope="col">Ảnh</th>
                                <th scope="col">Sản phẩm</th>
                                <th scope="col">Giá tiền</th>
                                <th scope="col">Số Lượng</th>
                                <th scope="col">Thao tác</th>
                            </tr>
                            </thead>
                            <tbody>
                            <tr th:each="detail, iterStat : ${orderDetails}">
                                <th scope="row" th:text="${iterStat.index + 1}">1</th>
                                <td>Ảnh</td>
                                <td th:text="'Tên sản phẩm : ' + ${detail.productDetail.product.name} + ' Size : ' + ${detail.productDetail.size.name} + ' Màu : ' + ${detail.productDetail.color.name}"></td>
                                <td id="productPrice" th:text="${detail.productDetail.price}"></td>
                                <td>
                                    <input type="number" class="quantity-input" th:value="${detail.quantity}">
                                    <input type="hidden" id="orderId" th:value="${detail.order.id}"> <!-- Đảm bảo không có ký tự thừa -->
                                    <input type="hidden" id="productDetailId" th:value="${detail.productDetail.id}"> <!-- Đảm bảo không có ký tự thừa -->
                                </td>

                                <td>
                                    <button class="btn btn-danger delete-btn"
                                            th:attr="data-order-id=${detail.order.id}, data-product-detail-id=${detail.productDetail.id}">
                                        Xóa
                                    </button>
                                </td>
                            </tr>

                            <tr th:if="${#lists.isEmpty(orderDetails)}">
                                <td colspan="5">No order details available.</td>
                            </tr>
                            </tbody>
                        </table>
                    </div>

                    <!-- Customer Information Section -->
                    <div class="container">
                        <div class="row">
                            <div class="col-md-7 new-order-list-area">
                                <h5>Khách Hàng</h5>
                                <div class="form-row">
                                    <div class="form-group">
                                        <label for="name">Tên khách hàng</label>
                                        <input type="text" id="name">
                                        <span id="nameStatus"></span> <!-- Validation message for name -->
                                    </div>
                                    <div class="form-group">
                                        <label for="phone">Số điện thoại</label>
                                        <input type="text" id="phone">
                                        <span id="phoneStatus"></span> <!-- Validation message for phone -->
                                    </div>
                                    <div class="form-group">
                                        <label for="to_address">Địa chỉ</label>
                                        <input type="email" id="to_address">
                                    </div>

                                    <div class="form-group">
                                        <label for="dob">Bình Dương</label>
                                        <select id="dob">
                                            <option value="Bình Dương" selected>Bình Dương</option>
                                        </select>
                                    </div>
                                    <div class="form-group">
                                        <label for="district">Huyện Dầu Tiếng</label>
                                        <select id="district">
                                            <option selected>Huyện Dầu Tiếng</option>
                                        </select>
                                    </div>
                                    <div class="form-group">
                                        <label for="city">Xã Minh Hoà</label>
                                        <select id="city">
                                            <option selected>Xã Minh Hoà</option>
                                        </select>
                                    </div>
                                    <div class="form-group wide">
                                        <label for="address">Địa chỉ</label>
                                        <input type="text" id="address" >
                                    </div>
                                </div>
                            </div>
                            <!-- Invoice and Summary Area -->
                            <div class="col-md-5 new-invoice-summary-area">
                                <div class="new-invoice-summary-container">
                                    <div th:if="${order != null}">
                                        <input type="hidden" id="currentOrderId" th:value="${order.id}"/>
                                        <button type="button" class="new-create-invoice-btn"
                                                th:if="${order.code} != null"
                                                th:onclick="'cancelOrder(' + ${order.id} + ')'">
                                            <i class="bx bx-minus">Hủy hóa đơn</i>
                                        </button>
                                        <h2>Mã hóa đơn: <span id="orderCode" th:text="${order.code}"></span></h2>
                                    </div>

                                    <!-- HTML Structure -->
                                    <h5 hidden="hidden">Tổng tiền: <span hidden="hidden" id="totalAmount" class="float-right"
                                                                         th:text="${total}">₫</span></h5>
                                    <h5 class="new-total-amount">
                                        KHÁCH PHẢI TRẢ: <span id="amountDue" class="float-right text-danger"
                                                              th:text="${total}">₫</span>
                                    </h5>
                                    <p>
                                        Tiền khách đưa (F8):
                                        <input type="number" id="customerAmount" class="new-input-field" placeholder="0"/>
                                    </p>
                                    <p>Tiền thừa trả khách: <span id="changeAmount" class="float-right">0 ₫</span></p>
                                    <p id="statusMessage"></p>
                                    <textarea class="new-input-field" placeholder="Thêm ghi chú"></textarea>
                                    <div class="new-invoice-switch">
                                        <input type="checkbox" id="invoiceCheckbox" checked/>
                                        <label for="invoiceCheckbox">In hóa đơn</label>
                                    </div>
                                    <button type="button" class="new-create-invoice-btn"
                                            th:if="${order.code} != null"
                                            th:onclick="'comfirmOrder(' + ${order.id} + ')'">Thanh toán
                                    </button>

                                </div>
                            </div>

                        </div>
                    </div>


                </div>


            </div>

    </main>

    <div id="productModal" class="new-product-modal">
        <div class="new-product-modal-content">
            <span class="new-close">&times;</span>
            <header>
                <div class="new-header-top">
                    <!--                    <input type="text" id="searchInput" placeholder="Nhập tên sản phẩm">-->
                    <div class="new-header-actions">
                        <form th:action="@{/admin/shopping-offline}" method="get" class="search-form" id="searchForm">
                            <input type="text" name="search" placeholder="Nhập tên sản phẩm..."
                                   th:value="${param.search}" id="searchInput" class="search-input"/>
                            <button type="submit" class="new-btn-search">Tìm kiếm</button>
                            <button class="new-btn-add">Làm mới</button>
                        </form>
                    </div>
                </div>
                <nav>
                    <ul>
                        <li>
                            <label>Danh mục:</label>
                            <select id="categorySelect">
                                <option value="">Tất cả</option>
                            </select>
                        </li>
                        <li>
                            <label>Thương Hiệu:</label>
                            <select id="brandSelect">
                                <option value="">Tất cả</option>
                            </select>
                        </li>
                        <li>
                            <label>Màu sắc:</label>
                            <select id="colorSelect">
                                <option value="">Tất cả</option>
                            </select>
                        </li>
                        <li>
                            <label>Kích Cỡ:</label>
                            <select id="sizeSelect">
                                <option value="">Tất cả</option>
                            </select>
                        </li>
                        <div class="slider">
                            <label>Khoảng Giá:</label>
                            <input type="range" id="priceRange" min="0" max="10000000">
                        </div>
                    </ul>
                </nav>
            </header>
            <main class="new-main-content">
                <table class="new-table" border="1">
                    <thead>
                    <tr>
                        <th>STT</th>
                        <th>Ảnh</th>
                        <th>Tên sản phẩm</th>
                        <th>Giá</th>
                        <th>Màu</th>
                        <th>Thao tác</th>
                    </tr>
                    </thead>
                    <tbody id="productList">
                    <!-- Các sản phẩm sẽ được thêm vào đây -->
                    </tbody>
                </table>
                <div id="pagination" class="d-flex justify-content-center align-items-center gap-2">
                    <button class="page-button" id="prevPage">Trước</button>
                    <input type="text" id="pageInput"
                           style="width: 50px; text-align: center; border: 1px solid #ced4da; border-radius: 5px;"/>
                    <span id="totalPagesText" style="font-weight: bold;"></span>
                    <button class="page-button" id="nextPage">Tiếp theo</button>
                </div>
            </main>
        </div>
    </div>
</section>


<!--default script-->
<script th:src="@{/admin/script.js}"></script>

<!--jquery-->
<script th:src="@{/admin/plugins/jquery/jquery.min.js}"></script>
<!--plugin table-->
<script th:src="@{/admin/plugins/jqgrid-5.7.0/common.js}"></script>
<script th:src="@{/admin/plugins/jqgrid-5.7.0/jquery.jqGrid.min.js}"></script>
<script th:src="@{/admin/plugins/jqgrid-5.7.0/grid.locale-vn.js}"></script>
<!--alter-->
<script th:src="@{/admin/plugins/sweetalert/common.js}"></script>
<script th:src="@{/admin/plugins/sweetalert/sweetalert2.min.js}"></script>
<!--bootstrap-->
<script th:src="@{/admin/plugins/bootstrap4/bootstrap.bundle.js}"></script>
<!--custom script-->
<script th:src="@{/admin/shopping_offline/shopping.js}"></script>

<script></script>
</body>
</html>

