<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">

<head>
    <th:block th:insert="admin/fragments/head :: head"></th:block>
    <link rel="stylesheet" th:href="@{/admin/shopping_offline/shopping.css}">
    <link rel="stylesheet" th:href="@{/admin/plugins/bootstrap4/mine.css}"/>
    <link rel="stylesheet" th:href="@{/admin/dist/css/common.css}"/>

    <link rel="stylesheet" th:href="@{/admin/plugins/jqgrid-5.7.0/ui.jqgrid-bootstrap4.css}"/>
    <link rel="stylesheet" th:href="@{/admin/plugins/sweetalert/sweetalert2.min.css}"/>
</head>

<body>
<div th:replace="admin/fragments/sidebar::sidebar"></div>

<section id="content">
    <div th:replace="admin/fragments/content::content"></div>
    <main>
        <form action="#" method="get" class="header-form">
            <div class="form-input">
                <input type="search" placeholder="Tìm kiếm..." class="search-input">
                <button type="submit" class="search-btn"><i class='bx bx-search'></i></button>
            </div>
            <button type="button" class="create-invoice-btn" onclick="confirmCreateInvoice()">
                <i class="bx bx-plus">Tạo hóa đơn</i>
            </button>
        </form>
        <h5>Danh sách hóa đơn:</h5>
        <div class="invoice-container">
    <span th:each="order, iterStat : ${listOrder}">
        <button th:text="'Hóa đơn ' + ${iterStat.index + 1}"
                th:onclick="'viewInvoice(' + ${order.id} + ')'">
        </button>
    </span>
        </div>


        <div class="main-container mt-3">
            <div class="row">
                <!-- Order List Area -->
                <div class="col-md-8 order-list-area">
                    <div class="order-list-content">
                        <h5>Giỏ hàng</h5>
                        <button class="btn-add">Thêm sản phẩm</button>

                        <table class="table mt-3" border="1">
                            <thead>
                            <tr>
                                <th scope="col">STT</th>
                                <th scope="col">Ảnh</th>
                                <th scope="col">Sản phẩm</th>
                                <th scope="col">Giá tiền</th>
                                <th scope="col">Số Lượng</th>
                                <th scope="col">Thao tác</th>
                            </tr>
                            </thead>
                            <!-- Show a message if there are no order details -->
                            <tbody>
                            <tbody>
                            <tr th:each="detail, iterStat : ${orderDetails}">
                                <th scope="row" th:text="${iterStat.index + 1}">1</th>
                                <td>Ảnh</td>
                                <td th:text="'Tên sản phẩm : ' + ${detail.productDetail.product.name} + ' Size : ' + ${detail.productDetail.size.name} + ' Màu : ' + ${detail.productDetail.color.name}"></td>
                                <td th:text="${detail.productDetail.price}"></td>
                                <td ><input type="number" th:value="${detail.quantity}" style="width: 50px;"></td>
                                <td ><a class="btn btn-danger">Xóa</a></td>
                            </tr>
                            <tr th:if="${#lists.isEmpty(orderDetails)}">
                                <td colspan="5">No order details available.</td>
                            </tr>
                            </tbody>

                       </table>

                    </div>

                    <!-- Customer Information Section -->
                    <div class="customer-info-container">
                        <div class="customer-info-card mt-3">
                            <div class="card-body">
                                <div class="row">
                                    <div class="col-md-4">
                                        <input type="text" class="input-field" placeholder="Điện thoại (F4)"/>
                                        <input type="text" class="input-field" placeholder="Tên khách"/>
                                    </div>
                                    <div class="col-md-4">
                                        <select class="input-field">
                                            <option>Tỉnh Thành phố -</option>
                                        </select>
                                        <select class="input-field">
                                            <option>Quận huyện -</option>
                                        </select>
                                        <select class="input-field">
                                            <option>Phường xã -</option>
                                        </select>
                                    </div>
                                    <div class="col-md-4">
                                        <select class="input-field">
                                            <option>Khác</option>
                                        </select>
                                        <input type="text" class="input-field" placeholder="Địa chỉ chi tiết"/>
                                        <input type="date" class="input-field" placeholder="Ngày sinh"/>
                                    </div>
                                </div>
                                <button class="btn btn-warning mt-3">Lưu thông tin</button>
                            </div>
                        </div>
                    </div>
                </div>

                <!-- Invoice and Summary Area -->
                <div class="col-md-4 invoice-summary-area">
                    <div class="invoice-summary-container">
                        <div th:if="${order != null}">
                            <input type="text" id="currentOrderId" th:value="${order.id}" />
                            <button type="button" class="create-invoice-btn"
                                    th:if="${order.code} != null"
                                    th:onclick="'cancelOrder(' + ${order.id} + ')'">
                                <i class="bx bx-plus">Hủy Đơn</i>
                            </button>
                            <h2>Mã hóa đơn: <span th:text="${order.code}"></span></h2>
                        </div>

                        <h5>Tổng tiền: <span class="float-right">0 ₫</span></h5>
                        <p>Voucher: <span class="float-right">Chọn hoặc nhập mã</span></p>
                        <p>Phí vận chuyển: <span class="float-right">+0 ₫</span></p>
                        <p>Chiết khấu (F6): <span class="float-right">0</span></p>
                        <h5 class="total-amount">
                            KHÁCH PHẢI TRẢ: <span class="float-right text-danger">0 ₫</span>
                        </h5>
                        <p>
                            Tiền khách đưa (F8):
                            <input type="number" class="input-field" placeholder="0"/>
                        </p>
                        <p>Tiền thừa trả khách: <span class="float-right">0 ₫</span></p>
                        <textarea class="input-field" placeholder="Thêm ghi chú"></textarea>
                        <div class="invoice-switch">
                            <input type="checkbox" id="invoiceCheckbox" checked/>
                            <label for="invoiceCheckbox">In hóa đơn</label>
                        </div>
                        <button class="btn payment-action-btn">Thanh toán (F9)</button>
                    </div>
                </div>

            </div>
        </div>

    </main>
    <div id="productModal" class="modal">
        <div class="modal-content">
            <span class="close">&times;</span>
            <header>
                <div class="header-top">
                    <input type="text" id="searchInput" placeholder="Nhập tên sản phẩm">
                    <div class="header-actions">
                        <button class="btn-search">Tìm kiếm</button>
                        <button class="btn-add">Làm mới</button>
                    </div>
                </div>
                <nav>
                    <ul>
                        <li>
                            <label>Danh mục:</label>
                            <select id="categorySelect">
                                <option value="">Tất cả</option>
                            </select>
                        </li>
                        <li>
                            <label>Thương Hiệu:</label>
                            <select id="brandSelect">
                                <option value="">Tất cả</option>
                            </select>
                        </li>
                        <li>
                            <label>Màu sắc:</label>
                            <select id="colorSelect">
                                <option value="">Tất cả</option>
                            </select>
                        </li>
                        <li>
                            <label>Kích Cỡ:</label>
                            <select id="sizeSelect">
                                <option value="">Tất cả</option>
                            </select>
                        </li>
                        <div class="slider">
                            <label>Khoảng Giá:</label>
                            <input type="range" id="priceRange" min="0" max="10000000">
                        </div>
                    </ul>
                </nav>
            </header>
            <main class="main-content">
                <div class="product-list" id="productList">
                    <!-- Dynamic Product Items will be added here -->
                </div>
            </main>
        </div>
    </div>
    <!--default script-->
    <script th:src="@{/admin/script.js}"></script>

    <!--jquery-->
    <script th:src="@{/admin/plugins/jquery/jquery.min.js}"></script>
    <!--plugin table-->
    <script th:src="@{/admin/plugins/jqgrid-5.7.0/common.js}"></script>
    <script th:src="@{/admin/plugins/jqgrid-5.7.0/jquery.jqGrid.min.js}"></script>
    <script th:src="@{/admin/plugins/jqgrid-5.7.0/grid.locale-vn.js}"></script>
    <!--alter-->
    <script th:src="@{/admin/plugins/sweetalert/common.js}"></script>
    <script th:src="@{/admin/plugins/sweetalert/sweetalert2.min.js}"></script>
    <!--bootstrap-->
    <script th:src="@{/admin/plugins/bootstrap4/bootstrap.bundle.js}"></script>
    <!--custom script-->
    <script th:src="@{/admin/shopping_offline/shopping.js}"></script>

</body>
</html>
