<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <th:block th:insert="admin/fragments/head :: head"></th:block>
    <link rel="stylesheet" th:href="@{/admin/shopping_offline/shopping.css}">
    <link rel="stylesheet" th:href="@{/admin/plugins/bootstrap4/mine.css}"/>
    <link rel="stylesheet" th:href="@{/admin/dist/css/common.css}"/>
    <link rel="stylesheet" th:href="@{/admin/plugins/jqgrid-5.7.0/ui.jqgrid-bootstrap4.css}"/>
    <link rel="stylesheet" th:href="@{/admin/plugins/sweetalert/sweetalert2.min.css}"/>

</head>

<body>
<div th:replace="admin/fragments/sidebar::sidebar"></div>

<section id="content">
    <div th:replace="admin/fragments/content::content"></div>
    <main>
        <div class="button-container d-flex align-items-center">
            <div class="invoice-container m-2">
                <button class="btn btn-primary" data-toggle="modal" data-target="#productModal" id="add-product"
                        th:onclick="addProductDetail()">Thêm sản phẩm
                </button>
                <button type="button" class="btn btn-primary" onclick="confirmCreateInvoice()">
                    <i class="bx bx-plus"></i>Tạo hóa đơn
                </button>
            </div>

            <div class="d-flex flex-wrap align-items-center new-invoice-container">
                <input type="hidden" id="currentOrderId" th:value="${currentOrderId}"/>
                <div th:each="order, iterStat : ${listOrder}">
                    <button th:class="${order.id == currentOrderId} ? 'align-items-center invoice-item active' : 'align-items-center invoice-item'"
                            th:text="'Hóa đơn ' + ${iterStat.index + 1}"
                            th:onclick="'viewInvoice(' + ${order.id} + ')'">
                    </button>
                </div>
                <span th:if="${#lists.isEmpty(listOrder)}">
                        <p colspan="6" class="text-danger">Chưa có hóa đơn</p>
                </span>
            </div>
        </div>

        <div class="row">
            <div class="col-md-9">

                <div class="table-responsive mt-2">
                    <table class="table table-bordered table-light text-dark mt-2">
                        <thead class="text-white bg-primary">
                        <tr>
                            <th scope="col">Ảnh</th>
                            <th scope="col">Sản phẩm</th>
                            <th scope="col">Giá tiền</th>
                            <th scope="col">Số Lượng</th>
                            <th scope="col">Thành tiền</th>
                            <th scope="col" style="width: 50px !important;">Thao tác</th>
                        </tr>
                        </thead>
                        <tbody>
                        <tr th:each="detail, iterStat : ${orderDetails}">
                            <td th:if="${detail.image != null}">
                                <img th:src="${detail.image.fileUrl}" alt="images.jpg"
                                     style="width: 50px; height: 50px;"/>
                            </td>
                            <td th:if="${detail.image == null}">
                                <img th:src="@{/admin/img/people.png}"
                                     style="width: 50px; height: 50px;"/>
                            </td>
                            <td th:text="${detail.productDetail.product.name} + ' - Size : ' + ${detail.productDetail.size.name} + ' - Màu : ' + ${detail.productDetail.color.name}"></td>
                            <td>
                                <input type="hidden" class="priceInput"
                                       th:value="${detail.price}"/>
                                <span class="priceFormat"
                                      th:attr="data-price=${detail.price}"
                                      style="width: 100px;">
                                </span>
                            </td>
                            <td>
                                <input type="text" class="form-control quantity-input" th:value="${detail.quantity}"
                                       style="width:50px;"/>
                                <input type="hidden" id="orderId" th:value="${detail.order.id}"/>
                                <input type="hidden" id="productDetailId" th:value="${detail.productDetail.id}"/>
                            </td>
                            <td>
                                 <span class="priceRevenu"
                                       th:attr="data-price-revenu=${detail.price * detail.quantity}"
                                       style="width: 100px;">
                                </span>
                            </td>
                            <td>
                                <span data-bs-toggle="tooltip" title="Xóa khỏi giỏ hàng">
                                    <a href="javascript:void(0)" class="delete-btn"
                                       th:attr="data-order-id=${detail.order.id},
                                       data-product-detail-id=${detail.productDetail.id},
                                       data-current-qty=${detail.quantity}">
                                        <i class="mdi mdi-delete text-danger" style="font-size:1.2rem"></i>
                                    </a>
                                </span>
                            </td>

                        </tr>
                        <tr th:if="${#lists.isEmpty(orderDetails)}">
                            <td colspan="6" class="text-danger">Đơn hàng của bạn chưa có sản phẩm nào</td>
                        </tr>
                        </tbody>
                    </table>
                </div>
            </div>
            <!--            thông tin khách đặt hàng-->
            <div class="col-md-7 mt-2 hidden">
                <div class="card mb-3">
                    <div class="card-body">
                        <h5 class="text-center">Khách Hàng</h5>
                        <!--                       -->
                        <div id="selectedCustomers" class="mt-2"></div>
                        <span class="text-danger"
                              style="font-size: 10px"><i>(*) Các trường bắt buộc nhập khi đặt hàng</i></span>
                        <div class="row mt-5">
                            <!-- Thông tin cơ bản -->
                            <!--                            <div class="col-md-6 mb-3">-->
                            <!--                                <div class="form-group">-->
                            <!--                                    <label for="name" class="form-label fw-bold">Tên khách hàng <span-->
                            <!--                                            class="text-danger">*</span></label>-->
                            <!--                                    <input type="text"-->
                            <!--                                           id="name"-->
                            <!--                                           class="form-control"-->
                            <!--                                           placeholder="Nhập tên khách hàng"/>-->
                            <!--                                    <span id="nameStatus" class="text-danger small"></span>-->
                            <!--                                </div>-->
                            <!--                            </div>-->

                            <!--                            <div class="col-md-6 mb-3">-->
                            <!--                                <div class="form-group">-->
                            <!--                                    <label for="phone" class="form-label fw-bold">Số điện thoại <span-->
                            <!--                                            class="text-danger">*</span></label>-->
                            <!--                                    <input type="text"-->
                            <!--                                           id="phone"-->
                            <!--                                           class="form-control"-->
                            <!--                                           placeholder="Nhập số điện thoại"/>-->
                            <!--                                    <span id="phoneStatus" class="text-danger small"></span>-->
                            <!--                                </div>-->
                            <!--                            </div>-->

                            <!-- Địa chỉ chi tiết -->
                            <div class="col-12 mb-3">
                                <div class="form-group">
                                    <label for="to_address" class="form-label fw-bold">Địa chỉ <span
                                            class="text-danger">*</span></label>
                                    <input type="text"
                                           id="to_address"
                                           class="form-control"
                                           placeholder="Nhập địa chỉ cụ thể"/>
                                </div>
                            </div>

                            <!-- Đơn vị hành chính -->
                            <div class="col-md-4 mb-3">
                                <div class="form-group">
                                    <label for="province" class="form-label fw-bold">Tỉnh/Thành phố<span
                                            class="text-danger">*</span></label>
                                    <select id="province"
                                            class="form-control form-select"
                                            name="province">
                                        <option value="" selected disabled>Chọn tỉnh/thành phố</option>
                                    </select>
                                </div>
                            </div>

                            <div class="col-md-4 mb-3">
                                <div class="form-group">
                                    <label for="district" class="form-label fw-bold">Quận/Huyện<span
                                            class="text-danger">*</span></label>
                                    <select id="district"
                                            class="form-control form-select"
                                            name="district">
                                        <option value="" selected disabled>Chọn quận/huyện</option>
                                    </select>
                                </div>
                            </div>

                            <div class="col-md-4 mb-3">
                                <div class="form-group">
                                    <label for="ward" class="form-label fw-bold">Phường/Xã<span
                                            class="text-danger">*</span></label>
                                    <select id="ward"
                                            class="form-control form-select"
                                            name="ward">
                                        <option value="" selected disabled>Chọn phường/xã</option>
                                    </select>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <!--            thông tin hóa đơn-->
            <div class="col-md-3 mt-2">
                <div class="card mb-3">
                    <div class="card-body">
                        <div th:if="${order == null}">
                            <p class="text-danger mt-2">Chưa có đơn hàng</p>
                        </div>
                        <span th:if="${order != null}">
                            <span class="text-danger btn-outline-secondary" style="cursor: pointer; user-select: none"
                                  th:onclick="'cancelOrder(' + ${order.id} + ')'">Hủy</span>
                        </span>
                        <h5 class="text-center">Hóa đơn
                            <span th:if="${order != null}">
                                <span id="orderCode" class="d-block mb-2" th:text="${order.code}"></span>
                            </span>
                        </h5>
                        <div class="text-center">
                            <h5>
                                <span th:if="${order != null}" th:disabled="${order == null || order.code == null}">
                                    Tổng tiền:
                                    <span id="totalAmount" class="text-danger"
                                          th:text="${total != null ? total : 0}"></span>
                                </span>
                            </h5>
                        </div>
                        <div class="form-group floating mt-4">
                            <input type="text" class="form-control floating" id="name" required>
                            <label for="name">Tên khách hàng <span class="text-danger">*</span></label>
                            <small id="nameError" class="text-danger d-none">Tên khách hàng không được để trống!</small>
                        </div>

                        <div class="form-group floating">
                            <input type="text" class="form-control floating" id="phone" required>
                            <label for="phone">Số điện thoại <span class="text-danger">*</span></label>
                            <small id="phoneError" class="text-danger d-none">Số điện thoại không được để trống!</small>
                        </div>


                        <div class="form-group floating">
                            <input type="text" class="form-control floating" id="customerAmount" required value="">
                            <label for="customerAmount">Tiền khách đưa</label>
                        </div>

                        <div class="form-group">
                            <p>Tiền thừa: <span id="changeAmount" class="text-primary">0</span></p>
                        </div>

                        <div class="form-group">
                            <textarea type="text" class="form-control" placeholder="Nhập ghi chú ở đây" id="orderNote"></textarea>
                        </div>
                        <div class="form-check">
                            <input type="checkbox" id="invoiceCheckbox" class="form-check-input"/>
                            <label for="invoiceCheckbox" class="form-check-label">In hóa đơn</label>
                        </div>
                        <button type="button" class="btn btn-success w-100"
                                id="submitButton"
                                th:disabled="${order == null || order.code == null || orderDetails.isEmpty()}"
                                th:onclick="${order != null} ? 'confirmOrder(' + ${order.id} + ')' : ''">
                            Thanh toán
                        </button>
                    </div>
                </div>
            </div>
        </div>
    </main>
    <!-- Modal -->
    <div id="productModal" class="modal fade" tabindex="-1" role="dialog" aria-labelledby="productModalLabel"
         aria-hidden="true">
        <div class="modal-dialog" role="document" style="max-width: 1070px;">
            <div class="modal-content">
                <div class="modal-header">
                    <h5 class="modal-title" id="productModalLabel">Thêm sản phẩm</h5>
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                        <span aria-hidden="true">&times;</span>
                    </button>
                </div>
                <div class="modal-body bg-secondary">
                    <header>
                        <form id="searchForm" class="container">
                            <div class="form-group row align-items-end">
                                <label for="searchInput" class="col-sm-2 col-form-label">Tên sản phẩm:</label>
                                <div class="col-sm-6">
                                    <input type="text" id="searchInput" name="nameProduct" class="form-control"
                                           placeholder="Nhập tên sản phẩm..."/>
                                </div>
                                <div class="col-sm-2">
                                    <input type="text" id="minPrice" name="minPrice" class="form-control"
                                           placeholder="Giá từ"/>
                                </div>
                                <div class="col-sm-2">
                                    <input type="text" id="maxPrice" name="maxPrice" class="form-control"
                                           placeholder="Giá đến"/>
                                </div>
                            </div>
                            <div class="form-row">
                                <div class="form-group col-md-2">
                                    <label for="categorySelect">Danh mục:</label>
                                    <select id="categorySelect" class="form-control">
                                        <!-- Các danh mục khác -->
                                    </select>
                                </div>
                                <div class="form-group col-md-2">
                                    <label for="brandSelect">Thương Hiệu:</label>
                                    <select id="brandSelect" class="form-control">
                                        <!-- Các thương hiệu khác -->
                                    </select>
                                </div>
                                <div class="form-group col-md-2">
                                    <label for="colorSelect">Màu sắc:</label>
                                    <select id="colorSelect" class="form-control">
                                        <!-- Các màu sắc khác -->
                                    </select>
                                </div>
                                <div class="form-group col-md-2">
                                    <label for="sizeSelect">Kích cỡ:</label>
                                    <select id="sizeSelect" class="form-control">
                                        <!-- Các kích cỡ khác -->
                                    </select>
                                </div>
                                <div class="form-group col-md-3">
                                    <label for="sortSelect">Sắp xếp theo giá:</label>
                                    <div class="input-group">
                                        <select id="sortSelect" class="form-control">
                                            <option value="">Chọn cách sắp xếp</option>
                                            <option value="asc">Giá tăng dần</option>
                                            <option value="desc">Giá giảm dần</option>
                                        </select>
                                    </div>
                                </div>
                            </div>
                            <div class="text-center">
                                <button type="button" class="btn btn-primary" id="searchButton">Tìm kiếm</button>
                                <button type="button" class="btn btn-outline-primary" id="resetButton">Reset</button>
                            </div>
                        </form>
                    </header>
                    <main>
                        <div class="table-responsive">
                            <table class="table table-centered table-hover table-primary">
                                <thead class="thead-light">
                                <tr>
                                    <th scope="col">Ảnh</th>
                                    <th scope="col">Tên sản phẩm</th>
                                    <th scope="col">Giá</th>
                                    <th scope="col">Màu</th>
                                    <th scope="col">Kích cỡ</th>
                                    <th scope="col">Số lượng</th>
                                    <th scope="col">Thao tác</th>
                                </tr>
                                </thead>
                                <tbody id="productList">
                                <!-- Các sản phẩm sẽ được thêm vào đây -->
                                </tbody>
                            </table>
                        </div>
                        <div id="pagination" class="d-flex justify-content-center align-items-center gap-2">
                            <button class="btn btn-secondary" id="prevPage">Trước</button>
                            <input type="text" id="pageInput"
                                   style="width: 50px; text-align: center; border: 1px solid #ced4da; border-radius: 5px;"
                                   disabled/>
                            <span id="totalPagesText" style="font-weight: bold;"></span>
                            <button class="btn btn-secondary" id="nextPage">Tiếp theo</button>
                        </div>
                    </main>
                </div>
            </div>
        </div>
    </div>
</section>

<!--default script-->
<script th:src="@{/admin/script.js}"></script>
<!--jquery-->
<script th:src="@{/admin/plugins/jquery/jquery.min.js}"></script>
<!--plugin table-->
<script th:src="@{/admin/plugins/jqgrid-5.7.0/common.js}"></script>
<script th:src="@{/admin/plugins/jqgrid-5.7.0/jquery.jqGrid.min.js}"></script>
<script th:src="@{/admin/plugins/jqgrid-5.7.0/grid.locale-vn.js}"></script>
<!--alter-->
<script th:src="@{/admin/plugins/sweetalert/common.js}"></script>
<script th:src="@{/admin/plugins/sweetalert/sweetalert2.min.js}"></script>
<!--bootstrap-->
<script th:src="@{/admin/plugins/bootstrap4/bootstrap.bundle.js}"></script>
<!--custom script-->
<script th:src="@{/admin/shopping_offline/shopping.js}"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/decimal.js/10.2.4/decimal.min.js"></script>
<script>
</script>
</body>
</html>