<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">

<head>
    <link th:href="@{/admin/plugins/datatables/css/dataTables.bootstrap5.min.css}" rel="stylesheet" type="text/css"/>
    <link th:href="@{/admin/plugins/datatables/css/responsive.bootstrap5.min.css}" rel="stylesheet" type="text/css"/>
    <link rel="stylesheet" th:href="@{/admin/plugins/datepicker/daterangepicker.css}"/>
    <link rel="stylesheet" th:href="@{/admin/dist/css/app-f4k.min.css}"/>
    <th:block th:insert="admin/fragments/head :: head"></th:block>
    <link rel="stylesheet" th:href="@{/admin/plugins/sweetalert/sweetalert2.min.css}"/>
    <style>
        #pagination input[type="text"] {
            padding: 0 5px;
            margin: 10px;
            user-select: none;
        }

        .page-button {
            padding: 8px 12px;
            cursor: pointer;
            margin: 15px;
            user-select: none;
        }
    </style>
</head>

<body>
<div th:replace="admin/fragments/sidebar::sidebar"></div>
<!-- Begin page -->
<section id="content">
<!--    <div th:replace="admin/fragments/loading::div"></div>-->
    <div th:replace="admin/fragments/content::content"></div>
    <main>
        <!-- start page title -->
        <div class="row">
            <div class="col-12">
                <div class="page-title-box">
                    <div class="page-title-right">
                        <ol class="breadcrumb m-0">
                            <li class="breadcrumb-item"><a th:href="@{home}">Trang chủ</a></li>
                            <li class="breadcrumb-item active">Nhân viên</li>
                        </ol>
                    </div>
                    <h1 class="page-title">Nhân viên</h1>
                </div>
            </div>
        </div>
        <!-- end page title -->

        <!-- start content here -->
        <div class="main-pane row">
            <div class="col-12">
                <div class="card">
                    <div class="card-body">
                        <div class="row mb-2">
                            <div class="col-sm-5">
                                <a href="javascript:void(0);" class="btn btn-default mb-2 action-create"
                                   data-bs-toggle="modal"
                                   data-bs-target="#modal-create"><i
                                        class="mdi mdi-plus-circle me-2"></i> Thêm nhân viên</a>
                            </div>
                            <div class="col-sm-7 d-flex justify-content-end">
                                <form class="row gy-2 gx-2 align-items-center justify-content-xl-start justify-content-between"
                                      id="formSearch" method="get">
                                    <div class="col-auto">
                                        <label for="searchName" class="visually-hidden">Search</label>
                                        <input type="search" class="form-control" id="searchName" name="search"
                                               th:value="${param.search}"
                                               data-f4k-filter="search"
                                               placeholder="Search...">
                                    </div>
                                </form>
                            </div>
                        </div>
                        <div class="table-responsive">
                            <table class="table table-centered w-100 dt-responsive nowrap" id="products-table">
                                <thead class="table-light">
                                <tr>
                                    <th style="width: 50px;">STT</th>
                                    <th>Ảnh đại diện</th>
                                    <th>Họ tên</th>
                                    <th>Email</th>
                                    <th>Số điện thoại</th>
                                    <th>Ngày sinh</th>
                                    <th>Giới tính</th>
                                    <th>Hình thức</th>
                                    <th style="width: 150px">Thao tác</th>
                                </tr>
                                </thead>
                                <tbody>

                                </tbody>
                            </table>
                            <div class="d-flex align-items-center justify-content-between mt-3">
                                <div class="d-flex align-items-center">
                                    <p id="totalData" class="mb-0 mr-3"></p>
                                </div>
                                <div class="d-flex align-items-center">
                                    <label for="pageSize" class="mr-2">Số lượng hiển thị:</label>
                                    <select id="pageSize" class="form-control" style="width: auto;">
                                        <option value="5">5</option>
                                        <option value="10">10</option>
                                        <option value="20">20</option>
                                    </select>
                                    <div id="pagination" class="d-flex align-items-center">
                                        <button class="btn btn-outline-primary" id="prevPage">Trước</button>
                                        <input type="text" id="pageInput" class="form-control mx-2"
                                               style="width: 50px; text-align: center;"/>
                                        <span id="totalPagesText" class="font-weight-bold mx-2"></span>
                                        <button class="btn btn-outline-primary" id="nextPage">Tiếp theo</button>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div> <!-- end card-body-->
                </div> <!-- end card-->
            </div> <!-- end col -->
        </div>
        <!-- end content -->
    </main>

    <!-- modal here -->

    <!--    model create-->
    <div id="modal-create" class="modal fade" tabindex="-1" role="dialog" aria-labelledby="modalCreateLabel"
         data-bs-backdrop="static">
        <div class="modal-dialog modal-lg">

            <div class="modal-content">
                <form id="formCreate" method="post" th:action="@{/admin/employee}" class="needs-validation" novalidate>
                    <div class="modal-header">
                        <h4 class="modal-title" id="standard-modalCreateLabel">Thêm mới khách hàng</h4>
                        <button type="button" class="btn-close" data-bs-dismiss="modal"></button>
                    </div>
                    <div class="modal-body">

                        <div class="row">
                            <div class="col-6 mb-3">
                                <label class="form-label" for="createName">Họ tên</label>
                                <input type="text" class="form-control" id="createName"
                                       placeholder="Nhập tên khách hàng"
                                       required name="name">
                                <div class="invalid-feedback"></div>
                            </div>
                            <div class="col-6 mb-3">
                                <label class="form-label" for="createEmail">Email</label>
                                <input type="text" class="form-control" id="createEmail"
                                       placeholder="Nhập email"
                                       required name="email">
                                <div class="invalid-feedback"></div>
                            </div>
                            <div class="col-6 mb-3">
                                <label class="form-label" for="createNumberPhone">Số điện thoại</label>
                                <input type="text" class="form-control" id="createNumberPhone"
                                       placeholder="Nhập số điện thoại"
                                       required name="numberPhone">
                                <div class="invalid-feedback"></div>
                            </div>
                            <div class="col-6 mb-3">
                                <label class="form-label" for="createName">Giới tính</label>
                                <div class="form-check form-check-inline">
                                    <input type="radio" id="male" name="gender" class="form-check-input"
                                           checked>
                                    <label class="form-check-label" for="male">Nam</label>
                                </div>
                                <div class="form-check form-check-inline">
                                    <input type="radio" id="female" name="gender" class="form-check-input">
                                    <label class="form-check-label" for="female">Nữ</label>
                                </div>
                            </div>
                        </div>
                        <div class="row col-lg-6">
                            <div class="mb-3">
                                <label class="form-label" for="createDateRanger">Ngày sinh</label>
                                <input type="date" class="form-control date" id="createDateRanger"
                                       data-toggle="date-picker">
                            </div>
                        </div>
                    </div>
                    <div class="modal-footer has-spinner">
                        <button type="button" class="btn btn-light" data-bs-dismiss="modal">Đóng</button>
                        <button type="submit" class="btn btn-primary action-save">Lưu</button>
                    </div>
                </form>
            </div>
        </div>
    </div>
    <!--    end modal-->
</section>
<!-- END wrapper -->

<!--default script-->
<script th:src="@{/admin/script.js}"></script>
<!--jquery-->
<script th:src="@{/common/jquery/jquery.min.js}"></script>
<!--vendor custom-->
<script th:src="@{/admin/dist/js/vendor.min.js}"></script>
<!--datatables-->
<script th:src="@{/admin/plugins/datatables/js/jquery.dataTables.min.js}"></script>
<script th:src="@{/admin/plugins/datatables/js/dataTables.bootstrap5.min.js}"></script>
<script th:src="@{/admin/plugins/datatables/js/dataTables.responsive.min.js}"></script>
<script th:src="@{/admin/plugins/datatables/js/responsive.bootstrap5.min.js}"></script>
<script th:src="@{/admin/plugins/datatables/js/dataTables.checkboxes.min.js}"></script>
<script th:src="@{/admin/plugins/datatables/common.js}"></script>
<!--sweet alter-->
<script th:src="@{/admin/plugins/sweetalert/sweetalert2.min.js}"></script>
<script th:src="@{/common/sweetalert/common.js}"></script>

<script th:src="@{/admin/plugins/datepicker/moment.min.js}"></script>
<script th:src="@{/admin/plugins/datepicker/daterangepicker.js}"></script>

<!--common-->
<!--<script type="module" th:src="@{/common/public.js}"></script>-->
<!--custom script-->
<script type="module" th:src="@{/admin/users/employee.js}"></script>
</body>
</html>
