
/*css màu hiển thị trong bảng thêm sản phẩm*/
.color-circle {
    display: inline-block;
    width: 20px;
    height: 20px;
    border-radius: 50%;
    border: 1px solid #ddd;
}
/*paging*/
#pagination input[type="text"] {
    height: 35px;
    font-size: 16px;
    padding: 0 5px;
    margin: 10px;
    user-select: none;
}

.page-button {
    background-color: #007bff;
    color: white;
    border: none;
    padding: 8px 12px;
    border-radius: 5px;
    cursor: pointer;
    font-weight: bold;
    transition: background-color 0.2s ease-in-out;
    margin: 15px;
    user-select: none;
}

.page-button:hover {
    background-color: #0056b3;
}
/*end paging*/

/*css bộ lọc tìm kiếm của modal sản phẩm*/
#searchForm {
    max-width: 800px; /* Chiều rộng tối đa cho form */
    margin: 0 auto; /* Center form */
    padding: 10px; /* Padding cho form */
    background-color: #f9f9f9; /* Màu nền nhẹ */
    border-radius: 5px; /* Bo tròn các góc */
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1); /* Đổ bóng cho form */
}

.form-row {
    display: flex; /* Sử dụng Flexbox */
    flex-wrap: wrap; /* Cho phép wrap khi không đủ chỗ */
    gap: 10px; /* Khoảng cách giữa các phần tử */
}

.form-group {
    flex: 1; /* Mỗi phần tử chiếm không gian bằng nhau */
}

.form-control {
    font-size: 14px; /* Kích thước chữ nhỏ hơn */
    padding: 8px; /* Padding nhỏ hơn cho input và select */
}

.btn {
    font-size: 14px; /* Kích thước chữ cho nút nhỏ hơn */
    padding: 8px 12px; /* Padding cho nút */
}

/* Đảm bảo responsive */
@media (max-width: 600px) {
    #searchForm {
        width: 100%; /* Chiều rộng 100% trên màn hình nhỏ */
    }
    .form-row {
        flex-direction: column; /* Xếp chồng các phần tử trên màn hình nhỏ */
    }
}

/*end css modal sản phẩm*/
#content main {
    max-height: calc(100vh - 76px);
}

.ellipsis span{
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
    max-width: 200px;
    display: inline-block;
}

.icon-md{font-size:1.875rem}

.product-image {
    aspect-ratio: 1 / 1;
    width: 70px;
    object-fit: cover;
}

.flex-align-center {
    display: flex;
    align-items: center;
}

@media (max-width: 1200px) {
    .modal-dialog {
        max-width: 100%;
        margin-right: auto;
        margin-left: auto;
    }
}

.input-pagination::-webkit-inner-spin-button,
.input-pagination::-webkit-outer-spin-button {
    -webkit-appearance: none;
    margin: 0;
}

.input-pagination {
    -moz-appearance: textfield;
    appearance: textfield;
}