<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">

<head>
    <link th:href="@{/admin/plugins/datatables/css/dataTables.bootstrap5.min.css}" rel="stylesheet" type="text/css"/>
    <link th:href="@{/admin/plugins/datatables/css/responsive.bootstrap5.min.css}" rel="stylesheet" type="text/css"/>
    <link rel="stylesheet" th:href="@{/admin/dist/css/app-f4k.min.css}"/>
    <th:block th:insert="admin/fragments/head :: head"></th:block>
    <link rel="stylesheet" th:href="@{/admin/plugins/sweetalert/sweetalert2.min.css}"/>
</head>

<body>
<div th:replace="admin/fragments/sidebar::sidebar"></div>

<section id="content">
    <div th:replace="admin/fragments/loading::div"></div>
    <div th:replace="admin/fragments/content::content"></div>
    <main>
        <!-- start content here -->
        <div class="main-pane row" style="margin-top: 0">
            <div class="col-12">
                <div class="card">
                    <div class="card-body">
                        <div class="col-12">
                            <div class="page-title-right">
                                <ol class="breadcrumb m-0">
                                    <li class="breadcrumb-item"><a th:href="@{home}"><i class="mdi mdi-home me-1"></i>Trang chủ</a></li>
                                    <li class="breadcrumb-item active">Quản lý thương hiệu</li>
                                </ol>
                            </div>
                        </div>
                        <div class="row mb-2">
                            <div class="col-sm-4">
                                <h4><i class="mdi mdi-filter-outline"></i> Bộ lọc</h4>
                            </div>
                            <div class="col-sm-8 d-flex justify-content-end">
                                <div class="text-sm-end text-end">
                                    <button type="button" class="btn btn-info mb-2 me-1" id="btnRefresh"><i
                                            class="mdi mdi-refresh"></i>
                                        Làm mới
                                    </button>
                                    <a href="#" type="button" class="btn btn-info mb-2" id="btnCreateProduct">
                                        <i class="mdi mdi-plus"> </i> Thêm mới thương hiệu
                                    </a>
                                </div>
                            </div><!-- end col-->
                        </div>

                        <!--filter product-->
                        <div class="row mb-2">
                            <form id="formFilter">
                                <div class="row mb-1">
                                    <div class="col-8 mb-6">
                                        <label class="form-label" for="filterSearch">Tìm kiếm</label>
                                        <input type="text" class="form-control" id="filterSearch" placeholder="Tìm kiếm"
                                               name="search">
                                        <div class="invalid-feedback"></div>
                                    </div>
                                    <!--                                    <div class="col-4 mb-6">-->
                                    <!--                                        <label class="form-label" for="filterStatus">Trạng thái</label>-->
                                    <!--                                        <select class="form-select" id="filterStatus" name="status">-->
                                    <!--                                            <option value="">Tất cả</option>-->
                                    <!--                                            <option value="1">Hoạt động</option>-->
                                    <!--                                            <option value="0">Ngừng hoạt động</option>-->
                                    <!--                                        </select>-->
                                    <!--                                    </div>-->
                                </div>
                            </form>
                        </div>

                        <hr>

                        <div class="row mb-2 mt-2">
                            <h5>Danh sách thương hiệu</h5>
                            <div class="table-responsive">
                                <table class="table table-centered w-100 dt-responsive nowrap" id="products-table">
                                    <thead class="table-light">
                                    <tr>
                                        <th style="width: 50px;">STT</th>
                                        <th>Tên</th>
                                        <th>Trạng thái</th>
                                        <th style="width: 150px">Thao tác</th>
                                    </tr>
                                    </thead>
                                    <tbody>

                                    </tbody>
                                </table>
                            </div>
                        </div>
                    </div> <!-- end card-body-->
                </div> <!-- end card-->
            </div> <!-- end col -->
        </div>
        <!-- end content -->
    </main>
</section>

<div id="modalAddAttributes" class="modal fade" tabindex="-1" role="dialog" aria-labelledby="modalCreateLabel"
     data-bs-backdrop="static">
    <div class="modal-dialog">
        <div class="modal-content">
            <form id="formAddAttributes" novalidate>
                <div class="modal-header">
                    <h4 class="modal-title" id="standard-modalCreateLabel">Thêm mới thuộc tính</h4>
                    <button type="button" class="btn-close" data-bs-dismiss="modal"></button>
                </div>
                <div class="modal-body">
                    <div class="row">
                        <div class="col-12 mb-3">
                            <label class="form-label" for="createAttributes" id="createAttributesLabel">Tên danh
                                mục</label>
                            <input type="text" class="form-control" id="createAttributes" required>
                            <div class="invalid-feedback" id="invalidFeedback"></div>
                        </div>
                    </div>
                    <div class="row" id="rowColorChange" hidden>
                        <div class="col-12 mb-3">
                            <label for="changeColor" class="form-label">Chọn màu</label>
                            <div class="input-group">
                                <input class="form-control" id="changeColor" type="color" name="color"
                                       value="#727cf5">
                                <span class="input-group-text" style="width: 118px">Hex: <span class="ms-1"
                                                                                               id="hexCode"></span></span>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="modal-footer has-spinner">
                    <button type="button" class="btn btn-light" data-bs-dismiss="modal">Đóng</button>
                    <button type="submit" class="btn btn-primary action-save">Lưu</button>
                </div>
            </form>
        </div>
    </div>
</div>

<!--default script-->
<script th:src="@{/admin/script.js}"></script>
<!--jquery-->
<script th:src="@{/common/jquery/jquery.min.js}"></script>
<!--vendor custom-->
<script th:src="@{/admin/dist/js/vendor.min.js}"></script>
<script th:src="@{/admin/dist/js/app.min.js}"></script>
<!--datatables-->
<script th:src="@{/admin/plugins/datatables/js/jquery.dataTables.min.js}"></script>
<script th:src="@{/admin/plugins/datatables/js/dataTables.bootstrap5.min.js}"></script>
<script th:src="@{/admin/plugins/datatables/js/dataTables.responsive.min.js}"></script>
<script th:src="@{/admin/plugins/datatables/js/responsive.bootstrap5.min.js}"></script>
<script th:src="@{/admin/plugins/datatables/js/dataTables.checkboxes.min.js}"></script>
<script th:src="@{/admin/plugins/datatables/common.js}"></script>
<!--sweet alter-->
<script th:src="@{/admin/plugins/sweetalert/common.js}"></script>
<script th:src="@{/admin/plugins/sweetalert/sweetalert2.min.js}"></script>
<!--common-->
<script type="module" th:src="@{/common/public.js}"></script>
<!--custom script-->
<script type="module" th:src="@{/admin/product/brand.js}"></script>
</body>
</html>
