<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">

<head>
    <link th:href="@{/admin/plugins/datatables/css/dataTables.bootstrap5.min.css}" rel="stylesheet" type="text/css"/>
    <link th:href="@{/admin/plugins/datatables/css/responsive.bootstrap5.min.css}" rel="stylesheet" type="text/css"/>
    <link th:href="@{/admin/plugins/filepond/filepond.css}" rel="stylesheet" type="text/css"/>
    <link th:href="@{/admin/plugins/filepond/filepond-plugin-image-preview.css}" rel="stylesheet" type="text/css"/>
    <link th:href="@{/admin/plugins/filepond/filepond-plugin-image-overlay.min.css}" rel="stylesheet" type="text/css"/>
    <link th:href="@{/admin/plugins/filepond/filepond-plugin-file-poster.min.css}" rel="stylesheet" type="text/css"/>
    <link rel="stylesheet" th:href="@{/admin/dist/css/app-f4k.min.css}"/>
    <th:block th:insert="admin/fragments/head :: head"></th:block>
    <link rel="stylesheet" th:href="@{/admin/plugins/sweetalert/sweetalert2.min.css}"/>
</head>

<body>
<div th:replace="admin/fragments/sidebar::sidebar"></div>

<!-- Begin page -->
<section id="content">
    <div th:replace="admin/fragments/loading::div"></div>
    <div th:replace="admin/fragments/content::content"></div>

    <main>
        <!-- start page title -->
        <div class="row">
            <div class="col-12">
                <div class="page-title-box">
                    <div class="page-title-right">
                        <ol class="breadcrumb m-0">
                            <li class="breadcrumb-item"><a th:href="@{home}">Trang chủ</a></li>
                            <li class="breadcrumb-item active">Sản phẩm</li>
                        </ol>
                    </div>
                    <h1 class="page-title">Sản phẩm</h1>
                </div>
            </div>
        </div>
        <!-- end page title -->

        <!-- start content here -->
        <div class="main-pane row">
            <div class="col-12">
                <div class="card">
                    <div class="card-body">
                        <div class="row mb-2">
                            <div class="col-sm-10">
                                <a href="javascript:void(0);" class="btn btn-danger mb-2 action-create" data-bs-toggle="modal"
                                   data-bs-target="#modal-create"><i
                                        class="mdi mdi-plus-circle me-2"></i> Thêm sản phẩm</a>
                            </div>
                            <div class="col-sm-2 d-flex justify-content-end">
                                <div class="dropdown btn-group">
                                    <button class="btn btn-light dropdown-toggle" type="button" data-bs-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                                        Xuất dữ liệu
                                    </button>
                                    <div class="dropdown-menu dropdown-menu-animated">
                                        <a class="dropdown-item" th:href="@{/admin/products/export/excel}" target="_blank">Excel</a>
                                        <a class="dropdown-item" th:href="@{/admin/products/export/pdf}" target="_blank">Pdf</a>
                                    </div>
                                </div>


<!--                                <div class="text-sm-end text-end">-->
<!--                                    <button type="button" class="btn btn-success mb-2 me-1"><i-->
<!--                                            class="mdi mdi-cog-outline"></i></button>-->
<!--                                    <button type="button" class="btn btn-light mb-2 me-1">Import</button>-->
<!--                                    <button type="button" class="btn btn-light mb-2">Export</button>-->
<!--                                </div>-->
                            </div><!-- end col-->
                        </div>

                        <div class="table-responsive">
                            <table class="table table-centered w-100 dt-responsive nowrap" id="products-table">
                                <thead class="table-light">
                                <tr>
                                    <th style="width: 50px;">STT</th>
                                    <td></td>
                                    <th>Tên sản phẩm</th>
                                    <th>Danh mục</th>
                                    <th>Thương hiệu</th>
                                    <th>Trạng thái</th>
                                    <th style="width: 150px">Thao tác</th>
                                </tr>
                                </thead>
                                <tbody>

                                </tbody>
                            </table>
                        </div>
                    </div> <!-- end card-body-->
                </div> <!-- end card-->
            </div> <!-- end col -->
        </div>
        <!-- end content -->
    </main>

    <!-- modal here -->

    <!--    model create-->
    <div id="modal-create" class="modal fade" tabindex="-1" role="dialog" aria-labelledby="modalCreateLabel" data-bs-backdrop="static">
        <div class="modal-dialog modal-lg">

            <div class="modal-content">
                <form id="formCreate" method="post" th:action="@{/admin/products}" class="needs-validation" enctype="multipart/form-data" novalidate>
                    <div class="modal-header">
                        <h4 class="modal-title" id="standard-modalCreateLabel">Thêm mới sản phẩm chính</h4>
                        <button type="button" class="btn-close" data-bs-dismiss="modal" ></button>
                    </div>
                    <div class="modal-body">

                        <div class="row">
                            <div class="col-6 mb-3">
                                <label class="form-label" for="createName">Tên sản phẩm</label>
                                <input type="text" class="form-control" id="createName" placeholder="Tên sản phẩm"
                                       required name="name">
                                <div class="invalid-feedback"></div>
                            </div>
                            <div class="col-6 mb-3">
                                <label class="form-label" for="createName">Trạng thái</label>
                                <div class="form-check form-check-inline">
                                    <input type="radio" id="createStatus1" name="createStatus" class="form-check-input" checked>
                                    <label class="form-check-label" for="createStatus1">Kích hoạt</label>
                                </div>
                                <div class="form-check form-check-inline">
                                    <input type="radio" id="createStatus2" name="createStatus" class="form-check-input">
                                    <label class="form-check-label" for="createStatus2">Vô hiệu hóa</label>
                                </div>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-6 mb-3">
                                <label class="form-label" for="createCategory">Danh mục</label>
                                <select class="form-control select2" data-toggle="select2" id="createCategory"
                                        name="categoryId">
                                    <option>Select</option>
                                </select>
                                <div class="invalid-feedback"></div>
                            </div>
                            <div class="col-6 mb-3">
                                <label class="form-label" for="createBrand">Thương hiệu</label>
                                <select class="form-control select2" data-toggle="select2" id="createBrand"
                                        name="brandId">
                                    <option>Select</option>
                                </select>
                                <div class="invalid-feedback"></div>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-12 mb-3">
                                <label for="createDescription" class="form-label">Mô tả sản phẩm</label>
                                <textarea class="form-control" id="createDescription" name="description" rows="5"></textarea>
                                <div class="invalid-feedback"></div>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-12">
                                <label class="form-label">Ảnh sản phẩm</label>
                                <input type="file"
                                       id="createFile"
                                       class="filepond"
                                       name="thumbnail"
                                       multiple
                                       data-allow-reorder="true"
                                       data-max-file-size="3MB"
                                       data-max-files="1">
                            </div>
                        </div>
                    </div>
                    <div class="modal-footer has-spinner">
                        <button type="button" class="btn btn-light" data-bs-dismiss="modal">Đóng</button>
                        <button type="submit" class="btn btn-primary action-save">Lưu</button>
                    </div>
                </form>
            </div>
        </div>
    </div>
    <!--    end modal-->
</section>
<!-- END wrapper -->

<!--default script-->
<script th:src="@{/admin/script.js}"></script>
<!--jquery-->
<script th:src="@{/common/jquery/jquery.min.js}"></script>
<!--vendor custom-->
<script th:src="@{/admin/dist/js/vendor.min.js}"></script>
<!--datatables-->
<script th:src="@{/admin/plugins/datatables/js/jquery.dataTables.min.js}"></script>
<script th:src="@{/admin/plugins/datatables/js/dataTables.bootstrap5.min.js}"></script>
<script th:src="@{/admin/plugins/datatables/js/dataTables.responsive.min.js}"></script>
<script th:src="@{/admin/plugins/datatables/js/responsive.bootstrap5.min.js}"></script>
<script th:src="@{/admin/plugins/datatables/js/dataTables.checkboxes.min.js}"></script>
<script th:src="@{/admin/plugins/datatables/common.js}"></script>
<!--drop zone-->
<script th:src="@{/admin/plugins/filepond/filepond.js}"></script>
<script th:src="@{/admin/plugins/filepond/filepond.jquery.js}"></script>
<script th:src="@{/admin/plugins/filepond/filepond-plugin-image-preview.js}"></script>
<script th:src="@{/admin/plugins/filepond/filepond-plugin-file-validate-size.js}"></script>
<script th:src="@{/admin/plugins/filepond/filepond-plugin-file-validate-type.js}"></script>
<script th:src="@{/admin/plugins/filepond/filepond-plugin-image-overlay.min.js}"></script>
<script th:src="@{/admin/plugins/filepond/filepond-plugin-file-poster.min.js}"></script>
<!--sweet alter-->
<script th:src="@{/admin/plugins/sweetalert/common.js}"></script>
<script th:src="@{/admin/plugins/sweetalert/sweetalert2.min.js}"></script>
<!--demo upload-->
<script type="module" th:src="@{/admin/dist/js/ui/component.fileupload.js}"></script>
<!--common-->
<script type="module" th:src="@{/common/public.js}"></script>
<!--custom script-->
<script type="module" th:src="@{/admin/product/product.js}"></script>
</body>
</html>
