<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">

<head>
    <link th:href="@{/admin/plugins/datatables/css/dataTables.bootstrap5.min.css}" rel="stylesheet" type="text/css"/>
    <link th:href="@{/admin/plugins/datatables/css/responsive.bootstrap5.min.css}" rel="stylesheet" type="text/css"/>
    <link rel="stylesheet" th:href="@{/admin/dist/css/app-f4k.min.css}"/>
    <link rel="stylesheet" th:href="@{/admin/plugins/datepicker/daterangepicker.css}"/>
    <th:block th:insert="admin/fragments/head :: head"></th:block>
    <link rel="stylesheet" th:href="@{/admin/dist/css/common.css}"/>
    <link rel="stylesheet" th:href="@{/admin/plugins/jqgrid-5.7.0/ui.jqgrid-bootstrap4.css}"/>
    <link rel="stylesheet" th:href="@{/admin/plugins/sweetalert/sweetalert2.min.css}"/>
    <style>
        .widget-flat {
            border-radius: 10px;
            box-shadow: 0px 4px 6px rgba(0, 0, 0, 0.1);
            background: #ffffff;
            padding: 20px;
            text-align: center;
        }

        .widget-icon {
            font-size: 30px;
            color: #556ee6;
        }

        .header-title {
            font-size: 1.2rem;
            font-weight: 600;
        }
    </style>
</head>

<body>
<div id="preloader">
    <div id="status">
        <div class="bouncing-loader">
            <div></div>
            <div></div>
            <div></div>
        </div>
    </div>
</div>
<div th:replace="admin/fragments/sidebar::sidebar"></div>

<section id="content">
    <div th:replace="admin/fragments/content::content"></div>
    <main>
        <div class="content">
            <!-- Start Content-->
            <div class="container-fluid">

                <div class="row">
                    <div class="col-xl-6 col-lg-7">

                        <div class="row">
                            <div class="col-sm-12">
                                <div class="card widget-flat">
                                    <div class="card-body">
                                        <div class="float-end">
                                            <i class="mdi mdi-cart-plus widget-icon" style="font-size: 2rem;"></i>
                                        </div>
                                        <h5 class="text-muted fw-normal mt-0" title="Number of Orders">Đơn hàng</h5>
                                        <h3 class="mt-3 mb-3" id="totalQuantityOrder" style="font-size: 1.5rem;">0</h3>
                                    </div> <!-- end card-body-->
                                </div> <!-- end card-->
                            </div> <!-- end col-->
                        </div> <!-- end row -->

                        <div class="row">
                            <div class="col-sm-12">
                                <div class="card widget-flat">
                                    <div class="card-body">
                                        <div class="float-end">
                                            <i class="mdi mdi-currency-usd widget-icon" style="font-size: 2rem;"></i>
                                        </div>
                                        <h5 class="text-muted fw-normal mt-0" title="Average Revenue">Doanh thu</h5>
                                        <h3 class="mt-3 mb-3" id="revenueAmount" style="font-size: 1.5rem;">₫0.00</h3>
                                    </div> <!-- end card-body-->
                                </div> <!-- end card-->
                            </div> <!-- end col-->
                        </div> <!-- end row -->
                    </div> <!-- end col -->

                    <!-- Tổng doanh thu theo loại đơn hàng-->
                    <div class="col-xl-6 col-lg-5">
                        <div class="card">
                            <div class="d-flex card-header justify-content-between align-items-center">
                                <!--                                <h4 class="header-title">Tổng doanh thu</h4>-->
                            </div>

                            <div class="card-body pt-0">
                                <div id="average-revenue">
                                    <div id="average-chart" style="width:100%; height:400px;"></div>
                                </div>
                            </div> <!-- end card-body-->
                        </div> <!-- end card-->
                    </div> <!-- end col-->
                </div>

                <!-- Phần Biểu đồ cột và sp bán chạy nhất-->
                <div class="row">
                    <div class="row-xl-12 row-lg-12">
                        <div class="card card-h-100">
                            <div class="card-header d-flex justify-content-between align-items-center">
                                <h4 class="header-title">Thống kê đơn hàng và doanh thu</h4>
                                <div class="filterDate d-flex align-items-center">
                                    <input type="text" class="form-control date" id="createDateRanger"
                                           data-toggle="date-picker" name="createDateRanger">
                                    <div class="ms-1 invalid-feedback"></div>
                                    <button id="filterButton" class="btn btn-primary">Lọc</button>
                                </div>
                            </div>
                            <div id="chart-container">
                                <div id="chart" style="width:100%; height:400px;"></div>
                            </div>
                        </div>
                    </div>

                    <!--Thống kê sản phẩm bán chạy nhất-->
                    <div class="col-xl-12 col-lg-12">
                        <div class="card card-h-100">
                            <div class="d-flex card-header justify-content-between align-items-center">
                                <h4 class="header-title">Sản phẩm bán chạy nhất</h4>
                                <div class="d-flex card-header align-items-center">
                                    <h4 class="header-title me-3">Lọc theo</h4>
                                    <select id="time-filter" class="form-select me-3" style="width: auto;">
                                        <option value="day">Ngày</option>
                                        <option value="week">Tuần</option>
                                        <option value="year">Năm</option>
                                        <option value="orderType">Loại đơn hàng</option>
                                    </select>

                                    <div id="datepicker-container" class="mb-3" style="display: inline-block; width: auto;">
                                        <label for="datepicker" class="form-label mb-0">Chọn ngày:</label>
                                        <input type="text" id="datepicker" class="form-control" style="width: auto;">
                                    </div>

                                    <div id="week-selector" class="mb-3" style="display: inline-block; width: auto;">
                                        <label for="week" class="form-label mb-0">Chọn tuần:</label>
                                        <select id="week" class="form-select" style="width: auto;">
                                            <option value="current">Tuần hiện tại</option>
                                            <option value="previous">Tuần trước</option>
                                        </select>
                                    </div>

                                    <div id="year-selector" class="mb-3" style="display: inline-block; width: auto;">
                                        <label for="year" class="form-label mb-0">Chọn năm:</label>
                                        <input type="number" id="year" class="form-control" placeholder="Nhập năm" style="width: auto;">
                                    </div>

                                    <div id="order-type-selector" class="mb-3" style="display: inline-block; width: auto;">
                                        <label for="orderType" class="form-label mb-0">Loại đơn hàng:</label>
                                        <select id="orderType" class="form-select" style="width: auto;">
                                            <option value="">Tất cả</option>
                                            <option value="ONLINE">Trực tuyến</option>
                                            <option value="OFFLINE">Tại cửa hàng</option>
                                        </select>
                                    </div>
                                </div>
                            </div>

                            <div id="container" style="height: 500px; width: 100%; margin-top: 20px;"></div>
                        </div> <!-- end card-->
                    </div> <!-- end col -->

                </div>
            </div>
        </div>
        <!-- content -->
    </main>
</section>

<!--highcharts biểu đồ-->
<script src="https://code.highcharts.com/highcharts.js"></script>
<script src="https://code.highcharts.com/modules/exporting.js"></script>
<script src="https://code.highcharts.com/modules/export-data.js"></script>
<script src="https://code.highcharts.com/modules/accessibility.js"></script>
<!--jquery-->
<script th:src="@{/common/jquery/jquery.min.js}"></script>
<script th:src="@{/common/dayjs/dayjs.min.js}"></script>
<script th:src="@{/admin/script.js}"></script>
<script th:src="@{/admin/dist/js/vendor.min.js}"></script>
<script th:src="@{/admin/dist/js/app.min.js}"></script>
<script th:src="@{/admin/plugins/sweetalert/common.js}"></script>
<script th:src="@{/admin/plugins/sweetalert/sweetalert2.min.js}"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/decimal.js/10.2.4/decimal.min.js"></script>
<!--datatables-->
<script th:src="@{/admin/plugins/datatables/js/jquery.dataTables.min.js}"></script>
<script th:src="@{/admin/plugins/datatables/js/dataTables.bootstrap5.min.js}"></script>
<script th:src="@{/admin/plugins/datatables/js/dataTables.responsive.min.js}"></script>
<script th:src="@{/admin/plugins/datatables/js/responsive.bootstrap5.min.js}"></script>
<script th:src="@{/admin/plugins/datatables/js/dataTables.checkboxes.min.js}"></script>
<!--date ranger piker-->
<script th:src="@{/admin/plugins/datepicker/moment.min.js}"></script>
<script th:src="@{/admin/plugins/datepicker/daterangepicker.js}"></script>
<!--custom js-->
<script th:src="@{/admin/dashboard/statistical.js}"></script>
<script></script>
</body>
</html>
