<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">

<head>
    <link th:href="@{/admin/plugins/datatables/css/dataTables.bootstrap5.min.css}" rel="stylesheet" type="text/css"/>
    <link th:href="@{/admin/plugins/datatables/css/responsive.bootstrap5.min.css}" rel="stylesheet" type="text/css"/>
    <link rel="stylesheet" th:href="@{/admin/dist/css/app-f4k.min.css}"/>
    <th:block th:insert="admin/fragments/head :: head"></th:block>
    <link rel="stylesheet" th:href="@{/admin/dist/css/common.css}"/>
    <link rel="stylesheet" th:href="@{/admin/plugins/jqgrid-5.7.0/ui.jqgrid-bootstrap4.css}"/>
    <link rel="stylesheet" th:href="@{/admin/plugins/sweetalert/sweetalert2.min.css}"/>
    <style>
        .widget-flat {
            border-radius: 10px;
            box-shadow: 0px 4px 6px rgba(0, 0, 0, 0.1);
        }

        .widget-icon {
            font-size: 30px;
        }

    </style>
</head>

<body>
<div id="preloader">
    <div id="status">
        <div class="bouncing-loader">
            <div></div>
            <div></div>
            <div></div>
        </div>
    </div>
</div>
<div th:replace="admin/fragments/sidebar::sidebar"></div>

<section id="content">
    <div th:replace="admin/fragments/content::content"></div>
    <main>
        <div class="content">
            <!-- Start Content-->
            <div class="container-fluid">
                <div class="row">
                    <div class="col-12">
                        <div class="page-title-box">
                            <div class="page-title-right">
                                <form class="d-flex">
                                    <div class="input-group">
                                        <input type="text" class="form-control form-control-light"
                                               id="dash-daterange">
                                        <span class="input-group-text bg-primary border-primary text-white">
                                                <i class="mdi mdi-calendar-range font-13"></i>
                                            </span>
                                    </div>
                                    <a href="javascript: void(0);" class="btn btn-primary ms-2">
                                        <i class="mdi mdi-autorenew"></i>
                                    </a>
                                    <a href="javascript: void(0);" class="btn btn-primary ms-1">
                                        <i class="mdi mdi-filter-variant"></i>
                                    </a>
                                </form>
                            </div>
                            <h4 class="page-title">Thống kê</h4>
                        </div>
                    </div>
                </div>

                <!--                <div class="container mt-2">-->
                <div class="row text-center mb-2">
                    <div class="col-lg-12">
                        <div class="row">
                            <!-- Đơn hàng -->
                            <div class="col-lg-4 mb-4">
                                <div class="card widget-flat">
                                    <div class="card-body">
                                        <div class="float-end">
                                            <i class="mdi mdi-cart-plus widget-icon" style="font-size: 2rem;"></i>
                                        </div>
                                        <h5 class="text-muted fw-normal mt-0" title="Number of Orders">Đơn hàng</h5>
                                        <h3 class="mt-3 mb-3" id="totalQuantityOrder" style="font-size: 1.5rem;">0</h3>
<!--                                        <p class="mb-0 text-muted">-->
<!--                                            <span class="text-danger me-2"><i class="mdi mdi-arrow-down-bold"></i> 1.08%</span>-->
<!--                                            <span class="text-nowrap">Kể từ tháng trước</span>-->
<!--                                        </p>-->
                                    </div>
                                </div>
                            </div>

                            <!-- Doanh thu -->
                            <div class="col-lg-4 mb-4">
                                <div class="card widget-flat">
                                    <div class="card-body">
                                        <div class="float-end">
                                            <i class="mdi mdi-currency-usd widget-icon" style="font-size: 2rem;"></i>
                                        </div>
                                        <h5 class="text-muted fw-normal mt-0" title="Average Revenue">Doanh thu</h5>
                                        <h3 class="mt-3 mb-3" id="revenueAmount" style="font-size: 1.5rem;">₫0.00</h3>
<!--                                        <p class="mb-0 text-muted">-->
<!--                                            <span class="text-danger me-2"><i class="mdi mdi-arrow-down-bold"></i> 7.00%</span>-->
<!--                                            <span class="text-nowrap">Kể từ tháng trước</span>-->
<!--                                        </p>-->
                                    </div>
                                </div>
                            </div>

                            <!-- Sản phẩm -->
                            <div class="col-lg-4 mb-4">
                                <div class="card widget-flat">
                                    <div class="card-body">
                                        <div class="float-end">
                                            <i class="mdi mdi-pulse widget-icon" style="font-size: 2rem;"></i>
                                        </div>
                                        <h5 class="text-muted fw-normal mt-0" title="Products">Sản phẩm</h5>
                                        <h3 class="mt-3 mb-3" id="totalQuantityProduct" style="font-size: 1.5rem;">
                                            0</h3>
<!--                                        <p class="mb-0 text-muted">-->
<!--                                            <span class="text-success me-2"><i class="mdi mdi-arrow-up-bold"></i> 4.87%</span>-->
<!--                                            <span class="text-nowrap">Kể từ tháng trước</span>-->
<!--                                        </p>-->
                                    </div>
                                </div>
                            </div>
                        </div> <!-- end row -->

                    </div> <!-- end col -->
                </div> <!-- end row -->

                <!-- Phần Biểu đồ -->
                <div class="row">
                    <div class="col-9">
                        <div class="card card-h-100">
                            <div class="card-header d-flex justify-content-between align-items-center">
                                <h4 class="header-title">Thống kê đơn hàng và doanh thu</h4>
                                <div class="filterDate d-flex align-items-center">
                                    <label for="startDate" class="me-2">Từ:</label>
                                    <input type="date" id="startDate" name="startDate" class="form-control me-2" style="width: 150px;">
                                    <label for="endDate" class="me-2">Đến:</label>
                                    <input type="date" id="endDate" name="endDate" class="form-control me-2" style="width: 150px;">
                                    <button id="filterButton" class="btn btn-primary">Lọc</button>
                                </div>
                            </div>
                            <div id="chart-container">
                                <div id="chart" style="width:100%; height:400px;"></div>
                            </div>
                        </div>
                    </div>

                    <!-- Tổng doanh thu -->
                    <div class="col-3 mb-2">
                        <div class="card">
                            <div class="d-flex card-header justify-content-between align-items-center">
                                <h4 class="header-title">Tổng doanh thu</h4>
                                <div class="dropdown">
                                    <a href="#" class="dropdown-toggle arrow-none card-drop" data-bs-toggle="dropdown" aria-expanded="false">
                                        <i class="mdi mdi-dots-vertical"></i>
                                    </a>
                                    <div class="dropdown-menu dropdown-menu-end">
                                        <a href="javascript:void(0);" class="dropdown-item">Báo cáo doanh thu</a>
                                        <a href="javascript:void(0);" class="dropdown-item">Xuất báo cáo</a>
                                        <a href="javascript:void(0);" class="dropdown-item">Lợi nhuận</a>
                                        <a href="javascript:void(0);" class="dropdown-item">Hoạt động</a>
                                    </div>
                                </div>
                            </div>

                            <div class="card-body pt-0">
                                <div id="average-revenue">
                                    <div id="average-chart" style="width:100%; height:400px;"></div>
                                </div>

                                <div class="chart-widget-list">
                                    <p>
                                        <i class="mdi mdi-square text-primary"></i> Trực tiếp
                                        <span class="float-end" id="total-pay-online">0</span>
                                    </p>
                                    <p>
                                        <i class="mdi mdi-square text-danger"></i> Trực tuyến
                                        <span class="float-end" id="total-pay-offline">0</span>
                                    </p>
                                </div>
                            </div> <!-- end card-body-->
                        </div> <!-- end card-->
                    </div> <!-- end col-->
                </div>
                <!--                </div>-->

                <div class="row">
                    <div class="col-xl-6 col-lg-12 order-lg-2 order-xl-1">
                        <div class="card">
                            <div class="d-flex card-header justify-content-between align-items-center">
                                <h4 class="header-title">Sản phẩm bán chạy nhất</h4>
                                <a href="javascript:void(0);" class="btn btn-sm btn-light">Xuất <i
                                        class="mdi mdi-download ms-1"></i></a>
                            </div>

                            <div class="card-body pt-0">
                                <div class="table-responsive">
                                    <table class="table table-centered table-nowrap table-hover mb-0">
                                        <tbody>
                                        <!--Hiển thị dữ liệu tại đây-->
                                        </tbody>
                                    </table>
                                </div> <!-- end table-responsive-->
                            </div> <!-- end card-body-->
                        </div> <!-- end card-->
                    </div> <!-- end col-->

                </div> <!-- end col -->
                <!-- end row -->
            </div>
            <!-- container -->
        </div>
        <!-- content -->
    </main>
</section>

<script src="https://code.highcharts.com/highcharts.js"></script>

<!--jquery-->
<script th:src="@{/common/jquery/jquery.min.js}"></script>
<script th:src="@{/common/dayjs/dayjs.min.js}"></script>
<script th:src="@{/admin/script.js}"></script>
<script th:src="@{/admin/dist/js/vendor.min.js}"></script>
<script th:src="@{/admin/dist/js/app.min.js}"></script>
<script th:src="@{/admin/plugins/sweetalert/common.js}"></script>
<script th:src="@{/admin/plugins/sweetalert/sweetalert2.min.js}"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/decimal.js/10.2.4/decimal.min.js"></script>
<!--datatables-->
<script th:src="@{/admin/plugins/datatables/js/jquery.dataTables.min.js}"></script>
<script th:src="@{/admin/plugins/datatables/js/dataTables.bootstrap5.min.js}"></script>
<script th:src="@{/admin/plugins/datatables/js/dataTables.responsive.min.js}"></script>
<script th:src="@{/admin/plugins/datatables/js/responsive.bootstrap5.min.js}"></script>
<script th:src="@{/admin/plugins/datatables/js/dataTables.checkboxes.min.js}"></script>
<!--custom js-->
<script th:src="@{/admin/dashboard/statistical.js}"></script>
<script>
    // // Dữ liệu cho biểu đồ
    // Highcharts.chart('average-chart', {
    //     chart: {
    //         type: 'pie' // Loại biểu đồ
    //     },
    //     title: {
    //         text: 'Biểu đồ tổng doanh thu'
    //     },
    //     series: [{
    //         name: 'Doanh thu',
    //         data: [
    //             { name: 'Trực tiếp', y: 300.56, color: '#36A2EB' },
    //             { name: 'Trực tuyến', y: 135.18, color: '#FF6384' }
    //         ],
    //         showInLegend: true,
    //         fillColor: '#FFFFFF'
    //     }],
    //     tooltip: {
    //         pointFormat: '<b>{point.y}</b>'
    //     },
    //     plotOptions: {
    //         pie: {
    //             allowPointSelect: true,
    //             cursor: 'pointer',
    //             dataLabels: {
    //                 enabled: true,
    //                 format: '<b>{point.name}</b>: {point.percentage:.1f} %'
    //             }
    //         }
    //     }
    // });
</script>
</body>
</html>
