<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">

<head>
    <link rel="stylesheet" th:href="@{/admin/dist/css/app-f4k.min.css}"/>
    <th:block th:insert="admin/fragments/head :: head"></th:block>
    <link rel="stylesheet" th:href="@{/admin/orders/orderDetail.css}">
    <link rel="stylesheet" th:href="@{/admin/plugins/bootstrap4/mine.css}"/>
    <link rel="stylesheet" th:href="@{/admin/dist/css/common.css}"/>

    <link rel="stylesheet" th:href="@{/admin/plugins/jqgrid-5.7.0/ui.jqgrid-bootstrap4.css}"/>
    <link rel="stylesheet" th:href="@{/admin/plugins/sweetalert/sweetalert2.min.css}"/>



</head>

<body>
<div th:replace="admin/fragments/sidebar::sidebar"></div>

<section id="content">
    <div th:replace="admin/fragments/content::content"></div>
    <main>
            <!-- ========== Left Sidebar End ========== -->

            <!-- ============================================================== -->
            <!-- Start Page Content here -->
            <!-- ============================================================== -->
<!--            <div class="content-page">-->
                <div class="content">

                    <!-- Start Content-->
                    <div class="container-fluid">

                        <!-- start page title -->
                        <div class="row">
                            <div class="col-12">
                                <div class="page-title-box">
                                    <div class="page-title-right">
                                        <ol class="breadcrumb m-0">
                                            <li class="breadcrumb-item"><a href="javascript: void(0);">Home</a></li>
                                            <li class="breadcrumb-item"><a href="javascript: void(0);">Order</a></li>
                                            <li class="breadcrumb-item active">Order Details</li>
                                        </ol>
                                    </div>
                                    <h4 class="page-title">Chi tiết đơn hàng</h4>
                                </div>
                            </div>
                        </div>
                        <!-- end page title -->
                        <div class="card">
                            <div class="card-body">
                        <div class="row justify-content-center">
                            <div class="col-lg-7 col-md-10 col-sm-11">

                                <div class="horizontal-steps mt-4 mb-4 pb-5">
                                    <div class="horizontal-steps-content">
                                        <div class="step-item">
                                            <span data-bs-toggle="tooltip" data-bs-placement="bottom" title="20/08/2018 07:24 PM">Order Placed</span>
                                        </div>
                                        <div class="step-item current">
                                            <span data-bs-toggle="tooltip" data-bs-placement="bottom" title="21/08/2018 11:32 AM">Packed</span>
                                        </div>
                                        <div class="step-item">
                                            <span>Chờ xác nhận</span>
                                        </div>
                                        <div class="step-item">
                                            <span>Chuẩn bị hàng</span>
                                        </div>
                                        <div class="step-item">
                                            <span>Đang giao hàng</span>
                                        </div>
                                        <div class="step-item">
                                            <span>Hủy đơn</span>
                                        </div>

                                    </div>

                                    <div class="process-line" style="width: 33%;"></div>
                                </div>
                            </div>
                        </div>
                            </div>
                        </div>
                        <!-- end row -->


                        <div class="row">
                            <div class="col-lg-8">
                                <div class="card">
                                    <div class="card-body">
                                        <h4 class="header-title mb-3">Sản phẩm mua</h4>

                                        <div class="table-responsive">
                                            <table class="table mb-0">
                                                <thead class="table-light">
                                                <tr>
                                                    <th>Sản phẩm</th>
                                                    <th>Hình ảnh</th>
                                                    <th>số lượng</th>
                                                    <th>giá</th>
                                                    <th>tổng giá</th>
                                                </tr>
                                                </thead>
                                                <tbody>
                                                <tr th:each="detail : ${orderDetails}">
<!--                                                    <td>Ảnh</td>-->
                                                    <td th:text="'Tên sản phẩm : ' + ${detail.productDetail.product.name} + ' Size : ' + ${detail.productDetail.size.name} + ' Màu : ' + ${detail.productDetail.color.name}"></td>
                                                    <td>
                                                        <img th:if="${detail.image}" th:src="@{${detail.image.fileUrl}}" alt="Product Image" width="100" height="100" />
                                                    </td>
                                                    <td>
                                                        <input type="number" class="quantity-input form-control" th:value="${detail.quantity}">
                                                        <input type="hidden" id="orderId" th:value="${detail.order.id}"> <!-- Đảm bảo không có ký tự thừa -->
                                                        <input type="hidden" id="productDetailId" th:value="${detail.productDetail.id}"> <!-- Đảm bảo không có ký tự thừa -->
                                                    </td>
                                                    <td id="productPrice" th:text="${detail.productDetail.price}"></td>
                                                    <td th:text="${detail.productDetail.price * detail.quantity}"></td>

                                                </tr>

                                                </tbody>
                                            </table>
                                        </div>
                                        <!-- end table-responsive -->

                                    </div>
                                </div>
                            </div> <!-- end col -->

                            <div class="col-lg-4">
                                <div class="card">
                                    <div class="card-body">
                                        <h4 class="header-title mb-3">Đơn hàng</h4>

                                        <div class="table-responsive">
                                            <table class="table mb-0">
                                                <thead class="table-light">
                                                <tr>
                                                    <th>Mã hóa đơn:</th>
                                                    <th th:text="${order.code}">

                                                    </th>
                                                </tr>
                                                </thead>
                                                <tbody>
                                                <tr>
                                                    <td>Phí vận chuyển :</td>
                                                    <td>$1641</td>
                                                </tr>

                                                <tr>
                                                    <th>Total :</th>
                                                    <th> <span th:text="${order.totalPay}"></span></th>
                                                </tr>
                                                </tbody>
                                            </table>
                                        </div>
                                        <!-- end table-responsive -->

                                    </div>
                                </div>
                            </div> <!-- end col -->
                        </div>
                        <!-- end row -->


                        <div class="row">
                            <div class="col-lg-4">
                                <div class="card">
                                    <div class="card-body">
                                        <h4 class="header-title mb-3">Thông tin vận chuyển</h4>

                                        <h5>Hà Nội</h5>

                                        <address class="mb-0 font-14 address-lg">
                                            Tên người nhận: <span th:text="${order.toName}"></span><br>
                                            Số điện thoại: <span th:text="${order.toPhone}"></span><br>
                                            Địa chỉ: <span th:text="${order.toAddress}"></span><br>
                                            <br>

                                        </address>

                                    </div>
                                </div>
                            </div> <!-- end col -->

                            <div class="col-lg-4">
                                <div class="card">
                                    <div class="card-body">
                                        <h4 class="header-title mb-3">Thông tin thanh toán</h4>

                                        <ul class="list-unstyled mb-0">
                                            <li>
                                                <p class="mb-2"><span class="fw-bold me-2">Thanh toán:</span> tiền mặt</p>
                                                <p class="mb-2"><span class="fw-bold me-2">Trạng thái:</span> Đã thanh toán</p>
                                            </li>
                                        </ul>

                                    </div>
                                </div>
                            </div> <!-- end col -->

                            <div class="col-lg-4">
                                <div class="card">
                                    <div class="card-body">
                                        <h4 class="header-title mb-3">Thông tin giao hàng</h4>

                                        <div class="text-center">
                                            <i class="mdi mdi-truck-fast h2 text-muted"></i>
                                            <h5><b>Giao Hàng Nhanh</b></h5>
                                            <p class="mb-1"><b>Order ID :</b> xxxx235</p>
                                            <p class="mb-0"><b>Payment Mode :</b> COD</p>
                                        </div>
                                    </div>
                                </div>
                            </div> <!-- end col -->
                        </div>
                        <!-- end row -->


                    </div> <!-- container -->

                </div> <!-- content -->

                <!-- Footer Start -->
                <footer class="footer">
                    <div class="container-fluid">
                        <div class="row">
                            <div class="col-md-6">
                                <script>document.write(new Date().getFullYear())</script> © F4K Store
                            </div>
                            <div class="col-md-6">
                                <div class="text-md-end footer-links d-none d-md-block">
                                    <a href="javascript: void(0);">About</a>
                                    <a href="javascript: void(0);">Support</a>
                                    <a href="javascript: void(0);">Contact Us</a>
                                </div>
                            </div>
                        </div>
                    </div>
                </footer>
                <!-- end Footer -->

<!--            </div>-->

            <!-- ============================================================== -->
            <!-- End Page content -->
            <!-- ============================================================== -->

    </main>
</section>
<!--default script-->
<script th:src="@{/admin/script.js}"></script>
<script th:src="@{/admin/orders/orderDetail.js}"></script>

<!--jquery-->
<script th:src="@{/admin/plugins/jquery/jquery.min.js}"></script>
<script th:src="@{/common/jquery/jquery.min.js}"></script>
<!--vendor custom-->
<script th:src="@{/admin/dist/js/vendor.min.js}"></script>
<!--plugin table-->
<script th:src="@{/admin/plugins/jqgrid-5.7.0/common.js}"></script>
<script th:src="@{/admin/plugins/jqgrid-5.7.0/jquery.jqGrid.min.js}"></script>
<script th:src="@{/admin/plugins/jqgrid-5.7.0/grid.locale-vn.js}"></script>
<!--alter-->
<script th:src="@{/admin/plugins/sweetalert/common.js}"></script>
<script th:src="@{/admin/plugins/sweetalert/sweetalert2.min.js}"></script>
<!--bootstrap-->
<script th:src="@{/admin/plugins/bootstrap4/bootstrap.bundle.js}"></script>

<!--custom script-->
<!--<script th:src="@{/admin/orders/order.js}"></script>-->

</body>
</html>
