<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">

<head>
    <th:block th:insert="admin/fragments/head :: head"></th:block>
    <link rel="stylesheet" th:href="@{/admin/orders/order.css}">
    <link rel="stylesheet" th:href="@{/admin/plugins/bootstrap4/mine.css}"/>
    <link rel="stylesheet" th:href="@{/admin/dist/css/common.css}"/>

    <link rel="stylesheet" th:href="@{/admin/plugins/jqgrid-5.7.0/ui.jqgrid-bootstrap4.css}"/>
    <link rel="stylesheet" th:href="@{/admin/plugins/sweetalert/sweetalert2.min.css}"/>
</head>

<body>
<div th:replace="admin/fragments/sidebar::sidebar"></div>

<section id="content">
    <div th:replace="admin/fragments/content::content"></div>
    <main>
        <div class="head-title">
            <div class="left">
                <h1>Quản lý hóa đơn</h1>
                <ul class="breadcrumb">
                    <li>
                        <a th:href="@{home}">Trang chủ</a>
                    </li>
                    <li><i class='bx bx-chevron-right'></i></li>
                    <li>
                        <a class="active" th:href="@{/admin/orders}">Quản lý hóa đơn</a>
                    </li>
                </ul>
            </div>
            <!--            <div class="btn-container">-->
            <!--                <a th:href="@{/admin/orders/export/excel}" class="btn-download">-->
            <!--                    <i class='bx bxs-cloud-download'></i>-->
            <!--                    <span class="text">Tải xuống Excel</span>-->
            <!--                </a>-->
            <!--                <a th:href="@{/admin/orders/export/pdf}" class="btn-download">-->
            <!--                    <i class='bx bxs-cloud-download'></i>-->
            <!--                    <span class="text">Tải xuống PDF</span>-->
            <!--                </a>-->
            <!--            </div>-->
        </div>
        <div class="order-container">
            <div class="search-filter">
                <form th:action="@{/admin/orders}" method="get" class="search-form" id="searchForm">
                    <input type="text" name="search" placeholder="Tìm kiếm mã hóa đơn,tên khách hàng,sdt,loại đơn..."
                           th:value="${param.search}" id="searchInput" class="search-input"/>
                    <div class="date-filter">
                        <label for="startDate">Từ:</label>
                        <input type="date" id="startDate" name="startDate" placeholder="Từ ngày"
                               th:value="${param.startDate}"/>

                        <label for="endDate">Đến:</label>
                        <input type="date" id="endDate" name="endDate" placeholder="Đến ngày"
                               th:value="${param.endDate}"/>
                    </div>
                    <select id="selectEmployee">
                        <option>Tất cả nhân viên</option>
                    </select>
                    <button type="submit" class="search-btn">Tìm kiếm</button>
                    <button type="reset" class="refresh-btn">Reset</button>
                </form>
            </div>
            <div class="tabs">
                <button class="tab active" data-status="">Tất cả</button>
                <button class="tab" data-status="1">Chờ xác nhận</button>
                <button class="tab" data-status="3">Chờ lấy hàng</button>
                <button class="tab" data-status="4">Chờ giao hàng</button>
                <button class="tab" data-status="6">Đang giao</button>
                <button class="tab" data-status="7">Đã giao</button>
                <button class="tab" data-status="8">Hoàn thành</button>
                <button class="tab" data-status="0">Đã hủy</button>
            </div>

            <div class="table-data">
                <div class="order">
                    <div class="head">
                        <h3>Danh sách hóa đơn</h3>
                    </div>
                    <table>
                        <thead>
                        <tr>
                            <th>STT</th>
                            <th>Mã đơn hàng</th>
                            <th>Tên khách hàng</th>
                            <th>Ngày tạo</th>
                            <th>Số điện thoại</th>
                            <th>Thành tiền</th>
                            <th>Loại đơn</th>
                            <th>Trạng thái</th>
                            <th>Thao Tác</th>
                        </tr>
                        </thead>
                        <tbody>
                        <!-- dữ liệu -->
                        </tbody>
                    </table>
                    <div id="pagination" class="d-flex justify-content-center align-items-center gap-2">
                        <button class="page-button" id="prevPage">Trước</button>
                        <input type="text" id="pageInput"
                               style="width: 50px; text-align: center; border: 1px solid #ced4da; border-radius: 5px;"/>
                        <span id="totalPagesText" style="font-weight: bold;"></span>
                        <button class="page-button" id="nextPage">Tiếp theo</button>
                    </div>
                </div>
            </div>
        </div>
    </main>
</section>
<!--default script-->
<script th:src="@{/admin/script.js}"></script>

<!--jquery-->
<script th:src="@{/admin/plugins/jquery/jquery.min.js}"></script>
<!--plugin table-->
<script th:src="@{/admin/plugins/jqgrid-5.7.0/common.js}"></script>
<script th:src="@{/admin/plugins/jqgrid-5.7.0/jquery.jqGrid.min.js}"></script>
<script th:src="@{/admin/plugins/jqgrid-5.7.0/grid.locale-vn.js}"></script>
<!--alter-->
<script th:src="@{/admin/plugins/sweetalert/common.js}"></script>
<script th:src="@{/admin/plugins/sweetalert/sweetalert2.min.js}"></script>
<!--bootstrap-->
<script th:src="@{/admin/plugins/bootstrap4/bootstrap.bundle.js}"></script>
<!--custom script-->
<script th:src="@{/admin/orders/order.js}"></script>

</body>
</html>
